@model IEnumerable<AppData.Models.Style>

@{
    ViewData["Title"] = "GetAllStyles";
}

<h1>GetAllStyles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StyleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StyleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStyle", new { id=item.StyleID }) |
                
                @Html.ActionLink("Delete", "DeleteStyle", new { id=item.StyleID })
            </td>
        </tr>
}
    </tbody>
</table>
