@model AppView.Models.DashBoardViewModel.CustomerDashboardViewModel
@{
	Layout = null;
}
@inject IHttpContextAccessor HttpContextAccessor
@{
	var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
	var fullName = HttpContextAccessor.HttpContext.Session.GetString("FullName");
	var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
	var UserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
	var Password = HttpContextAccessor.HttpContext.Session.GetString("Password");
	var Sex = HttpContextAccessor.HttpContext.Session.GetString("Sex");
	var PhoneNumber = HttpContextAccessor.HttpContext.Session.GetString("PhoneNumber");
	var ImageUser = HttpContextAccessor.HttpContext.Session.GetString("ImageUser");
	var selectedShippingMethodID = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Đơn mua</title>
	<link rel="icon" type="image" href="~/image/logo1.png" />
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/assets/css/lineicons.css" />
	<link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="~/assets/css/fullcalendar.css" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		body {
			margin-top: 20px;
			background-color: #f2f6fc;
			color: #69707a;
		}

		.img-account-profile {
			height: 10rem;
		}

		.rounded-circle {
			border-radius: 50% !important;
		}

		.card {
			box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
		}

			.card .card-header {
				font-weight: 500;
			}

		.card-header:first-child {
			border-radius: 0.35rem 0.35rem 0 0;
		}

		.card-header {
			padding: 1rem 1.35rem;
			margin-bottom: 0;
			background-color: rgba(33, 40, 50, 0.03);
			border-bottom: 1px solid rgba(33, 40, 50, 0.125);
		}

		p {
			word-spacing: 7px;
		}

		.form-control, .dataTable-input {
			display: block;
			width: 100%;
			padding: 0.875rem 1.125rem;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1;
			color: #69707a;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #c5ccd6;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0.35rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		.nav-borders .nav-link.active {
			color: #0061f2;
			border-bottom-color: #0061f2;
		}

		.nav-borders .nav-link {
			color: #69707a;
			border-bottom-width: 0.125rem;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0;
			padding-right: 0;
			margin-left: 1rem;
			margin-right: 1rem;
		}

		.custom-row {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.custom-col {
			margin-right: 10px;
		}

		.custom-label {
			margin-bottom: 5px;
		}

		/*css voucher*/
		.coupon {
			width: 400px;
			height: 200px;
			border-radius: 10px;
			overflow: hidden;
			margin: 10px;
			filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
			display: flex;
			align-items: stretch;
			position: relative;
			text-transform: uppercase;
		}

			.coupon::before,
			.coupon::after {
				content: "";
				position: absolute;
				top: 0;
				width: 50%;
				height: 100%;
				z-index: -1;
			}

			.coupon::before {
				left: 0;
				background-image: radial-gradient( circle at 0 50%, transparent 25px, #fff 26px );
			}

			.coupon::after {
				right: 0;
				background-image: radial-gradient( circle at 100% 50%, transparent 25px, #fff 26px );
			}

			.coupon > div {
				display: flex;
				align-items: center;
				justify-content: center;
			}

		.leftcp {
			width: 22%;
			border-right: 2px dashed rgba(0, 0, 0, 0.13);
			background-color: #A0C3D2;
		}

			.leftcp div {
				transform: rotate(-90deg);
				white-space: nowrap;
				font-weight: bold;
			}

			.leftcp h1 {
				writing-mode: vertical-rl;
				transform: rotate(180deg);
				text-align: center;
			}

		.centercp {
			flex-grow: 1;
			text-align: center;
		}

			.centercp h2 {
				background: #000;
				color: white;
				padding: 0 10px;
				font-size: 25px;
				white-space: nowrap;
			}

			.centercp h3 {
				margin-top: 2%;
				font-size: 18px;
			}

			.centercp small {
				font-size: 0.625rem;
				font-weight: 600;
				letter-spacing: 2px;
			}

		/*css upload file*/
		.file-upload {
			display: block;
			text-align: center;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 12px;
		}

			.file-upload .file-select {
				display: block;
				border: 2px solid #dce4ec;
				color: #34495e;
				cursor: pointer;
				height: 40px;
				line-height: 40px;
				text-align: left;
				background: #FFFFFF;
				overflow: hidden;
				position: relative;
			}

				.file-upload .file-select .file-select-button {
					background: #dce4ec;
					padding: 0 10px;
					display: inline-block;
					height: 40px;
					line-height: 40px;
				}

				.file-upload .file-select .file-select-name {
					line-height: 40px;
					display: inline-block;
					padding: 0 10px;
				}

				.file-upload .file-select:hover {
					border-color: #34495e;
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
				}

					.file-upload .file-select:hover .file-select-button {
						background: #34495e;
						color: #FFFFFF;
						transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
						-webkit-transition: all .2s ease-in-out;
						-o-transition: all .2s ease-in-out;
					}

			.file-upload.active .file-select {
				border-color: #3fa46a;
				transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
			}

				.file-upload.active .file-select .file-select-button {
					background: #3fa46a;
					color: #FFFFFF;
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
				}

			.file-upload .file-select input[type=file] {
				z-index: 100;
				cursor: pointer;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				filter: alpha(opacity=0);
			}

			.file-upload .file-select.file-select-disabled {
				opacity: 0.65;
			}

				.file-upload .file-select.file-select-disabled:hover {
					cursor: default;
					display: block;
					border: 2px solid #dce4ec;
					color: #34495e;
					cursor: pointer;
					height: 40px;
					line-height: 40px;
					margin-top: 5px;
					text-align: left;
					background: #FFFFFF;
					overflow: hidden;
					position: relative;
				}

					.file-upload .file-select.file-select-disabled:hover .file-select-button {
						background: #dce4ec;
						color: #666666;
						padding: 0 10px;
						display: inline-block;
						height: 40px;
						line-height: 40px;
					}

					.file-upload .file-select.file-select-disabled:hover .file-select-name {
						line-height: 40px;
						display: inline-block;
						padding: 0 10px;
					}

		/*css input sex*/
		.radio-inputs {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 350px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			margin-left: 24%;
		}

			.radio-inputs > * {
				margin: 6px;
			}

		.radio-input:checked + .radio-tile {
			border-color: black;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			color: black;
		}

			.radio-input:checked + .radio-tile:before {
				transform: scale(1);
				opacity: 1;
				background-color: black;
				border-color: black;
			}

			.radio-input:checked + .radio-tile .radio-icon svg {
				fill: black;
			}

			.radio-input:checked + .radio-tile .radio-label {
				color: black;
			}

		.radio-input:focus + .radio-tile {
			border-color: black;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
		}

			.radio-input:focus + .radio-tile:before {
				transform: scale(1);
				opacity: 1;
			}

		.radio-tile {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 80px;
			min-height: 80px;
			border-radius: 0.5rem;
			border: 2px solid #b5bfd9;
			background-color: #fff;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			transition: 0.15s ease;
			cursor: pointer;
			position: relative;
		}

			.radio-tile:before {
				content: "";
				position: absolute;
				display: block;
				width: 0.75rem;
				height: 0.75rem;
				border: 2px solid #b5bfd9;
				background-color: #fff;
				border-radius: 50%;
				top: 0.25rem;
				left: 0.25rem;
				opacity: 0;
				transform: scale(0);
				transition: 0.25s ease;
			}

			.radio-tile:hover {
				border-color: black;
			}

				.radio-tile:hover:before {
					transform: scale(1);
					opacity: 1;
				}

		.radio-icon svg {
			width: 2rem;
			height: 2rem;
			fill: #494949;
		}

		.radio-label {
			color: #707070;
			transition: 0.375s ease;
			text-align: center;
			font-size: 13px;
		}

		.radio-input {
			clip: rect(0 0 0 0);
			-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}

		/* css address */
		.grid-container {
			width: min(50rem, 100%);
			margin-inline: auto;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
			gap: 2rem;
		}

		.card-address {
			--grad: red, blue;
			padding: 1.5rem;
			background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
			border-radius: 2rem;
			gap: 1.5rem;
			display: grid;
			grid-template-areas:
				"title icon"
				"content content"
				"bar bar"
				"actions actions";
			grid-template-columns: 1fr auto;
			font-family: system-ui, sans-serif;
			color: #444447;
			box-shadow: inset -2px 2px hsl(0 0 100% / 1), -20px 20px 40px hsl(0 0 0 / .25);
		}

			/* TITLE */
			.card-address .title-address {
				font-size: 1.5rem;
				grid-area: title;
				align-self: end;
				text-transform: uppercase;
				font-weight: 500;
				word-break: break-word;
			}

			/* ICON */
			.card-address .icon-address {
				grid-area: icon;
				display: flex;
				align-items: center;
				gap: 6px;
				font-size: 1rem;
			}

				.card-address .icon-address > i {
					font-size: 22px;
					color: transparent;
					background: linear-gradient(to right, var(--grad));
					-webkit-background-clip: text;
					background-clip: text;
				}

			/* CONTENT */
			.card-address .content-address {
				grid-area: content;
			}

				.card-address .content-address p:first-child {
					margin-top: 0;
				}

				.card-address .content-address p:last-child {
					margin-bottom: 0;
				}

			/* AFTER (BAR) */
			.card-address::after {
				content: "";
				grid-area: bar;
				height: 2px;
				width: 100%;
				display: block;
				background-image: linear-gradient(90deg, var(--grad));
			}

			/* ACTION BUTTONS */
			.card-address .address-actions {
				grid-area: actions;
				display: flex;
				justify-content: center;
				gap: 15px;
			}

		/*css add address*/
		.modal-box {
			font-family: 'Noto Sans', sans-serif;
		}

			.modal-box .show-modal {
				color: #fff;
				background-color: #ff773a;
				font-size: 18px;
				font-weight: 600;
				text-transform: capitalize;
				padding: 15px 30px;
				margin: 80px auto 0;
				border: none;
				border-radius: 0;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
				outline: none;
				display: block;
				transition: all 0.3s ease 0s;
			}

				.modal-box .show-modal:hover,
				.modal-box .show-modal:focus {
					color: #fff;
					background-color: #555;
					outline: none;
				}

		.modal-backdrop.in {
			opacity: 0.4;
		}

		.modal-box .modal-dialog {
			width: 650px;
			margin: 50px auto 0;
		}

		.modal.fade .modal-dialog {
			transform: translateY(100px);
		}

		.modal.in .modal-dialog {
			transform: translate(0);
		}

		.modal-box .modal-dialog .modal-content {
			background: #fff;
			border-radius: 0;
			outline: 5px solid #fff;
			outline-offset: 10px;
		}

			.modal-box .modal-dialog .modal-content .close {
				color: #999;
				font-size: 28px;
				text-shadow: none;
				line-height: 15px;
				opacity: 1;
				overflow: hidden;
				position: absolute;
				left: auto;
				right: 15px;
				top: 15px;
				z-index: 1;
				transition: all 0.3s;
			}

				.modal-box .modal-dialog .modal-content .close:hover {
					color: #555;
				}

			.modal-box .modal-dialog .modal-content .modal-body {
				padding: 40px !important;
			}

				.modal-box .modal-dialog .modal-content .modal-body .title {
					color: #111;
					font-size: 25px;
					font-weight: 700;
					text-transform: capitalize;
					margin: 0 0 20px;
				}

				.modal-box .modal-dialog .modal-content .modal-body .description {
					color: #999;
					font-size: 17px;
					font-weight: 500;
					margin: 0 5px 25px;
				}

				.modal-box .modal-dialog .modal-content .modal-body .form-group {
					margin: 0 0 25px;
				}

					.modal-box .modal-dialog .modal-content .modal-body .form-group label {
						font-size: 16px;
						font-weight: 500;
					}

					.modal-box .modal-dialog .modal-content .modal-body .form-group .form-control {
						height: 50px;
						border-radius: 0;
						border-color: #777;
					}

						.modal-box .modal-dialog .modal-content .modal-body .form-group .form-control:focus {
							box-shadow: none;
							border-color: #ff773a;
						}

				.modal-box .modal-dialog .modal-content .modal-body .btn {
					color: #fff;
					background: #ff773a;
					font-size: 18px;
					font-weight: 600;
					text-transform: capitalize;
					letter-spacing: 1px;
					padding: 14px 20px 13px;
					border-radius: 5px;
					transition: all 0.3s;
				}

					.modal-box .modal-dialog .modal-content .modal-body .btn:hover {
						text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
						box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
					}

					.modal-box .modal-dialog .modal-content .modal-body .btn:focus {
						outline: none;
					}
	</style>
</head>
<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>
	<aside class="sidebar-nav-wrapper" style="background-color:#F9FAFB;">
		<div class="navbar-logo" style="text-align:center;">
			<a href="@Url.Action("index", "Home")">
				<img src="~/image/anhlogo23.png" alt="Hi" width=180px height=70px style="padding-left: 0px;">
			</a>
		</div>
		<nav class="sidebar-nav">
			<ul>
				<li class="nav-item">
					<a href="@Url.Action("index", "DashBoard")"
					   class="collapsed"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_1"
					   aria-controls="ddmenu_1"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg fill="#000000" width="24px" height="27px" style="color:black;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<g id="coupon">
										<path d="M21,10a2.2489,2.2489,0,0,1,.4087.0415.5072.5072,0,0,0,.4111-.1074A.4992.4992,0,0,0,22,9.55V7.5A2.503,2.503,0,0,0,19.5,5H4.5A2.503,2.503,0,0,0,2,7.5V9.55a.5.5,0,0,0,.5913.4917A2.2489,2.2489,0,0,1,3,10a2,2,0,0,1,0,4,2.2489,2.2489,0,0,1-.4087-.0415.5073.5073,0,0,0-.4111.1074A.4992.4992,0,0,0,2,14.45V16.5A2.503,2.503,0,0,0,4.5,19h15A2.503,2.503,0,0,0,22,16.5V14.45a.4992.4992,0,0,0-.18-.3843.5081.5081,0,0,0-.4111-.1074A2.2489,2.2489,0,0,1,21,14a2,2,0,0,1,0-4Zm0,5v1.5A1.5017,1.5017,0,0,1,19.5,18H4.5A1.5017,1.5017,0,0,1,3,16.5V15A3,3,0,0,0,3,9V7.5A1.5017,1.5017,0,0,1,4.5,6h15A1.5017,1.5017,0,0,1,21,7.5V9a3,3,0,0,0,0,6Z"></path>
										<path d="M12.5,9v1a.5.5,0,0,1-1,0V9a.5.5,0,0,1,1,0Z"></path> <path d="M12.5,14v1a.5.5,0,0,1-1,0V14a.5.5,0,0,1,1,0Z"></path>
									</g>
								</g>
							</svg>
						</span>
						<span class="text1" id="searchVoucherBtn1" style="margin-left:-1%;">Mã giảm giá</span>
					</a>
				</li>

				<li class="nav-item nav-item-has-children" style="margin-left:-1%;">
					<a href="#0"
					   class="collapsed"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_3"
					   aria-controls="ddmenu_3"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg width="24px" height="27px" style="color:black;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<g clip-path="url(#clip0_15_82)">
										<rect width="24" height="24" fill="white"></rect> <g filter="url(#filter0_d_15_82)">
											<path d="M14.3365 12.3466L14.0765 11.9195C13.9082 12.022 13.8158 12.2137 13.8405 12.4092C13.8651 12.6046 14.0022 12.7674 14.1907 12.8249L14.3365 12.3466ZM9.6634 12.3466L9.80923 12.8249C9.99769 12.7674 10.1348 12.6046 10.1595 12.4092C10.1841 12.2137 10.0917 12.022 9.92339 11.9195L9.6634 12.3466ZM4.06161 19.002L3.56544 18.9402L4.06161 19.002ZM19.9383 19.002L20.4345 18.9402L19.9383 19.002ZM16 8.5C16 9.94799 15.2309 11.2168 14.0765 11.9195L14.5965 12.7737C16.0365 11.8971 17 10.3113 17 8.5H16ZM12 4.5C14.2091 4.5 16 6.29086 16 8.5H17C17 5.73858 14.7614 3.5 12 3.5V4.5ZM7.99996 8.5C7.99996 6.29086 9.79082 4.5 12 4.5V3.5C9.23854 3.5 6.99996 5.73858 6.99996 8.5H7.99996ZM9.92339 11.9195C8.76904 11.2168 7.99996 9.948 7.99996 8.5H6.99996C6.99996 10.3113 7.96342 11.8971 9.40342 12.7737L9.92339 11.9195ZM9.51758 11.8683C6.36083 12.8309 3.98356 15.5804 3.56544 18.9402L4.55778 19.0637C4.92638 16.1018 7.02381 13.6742 9.80923 12.8249L9.51758 11.8683ZM3.56544 18.9402C3.45493 19.8282 4.19055 20.5 4.99996 20.5V19.5C4.70481 19.5 4.53188 19.2719 4.55778 19.0637L3.56544 18.9402ZM4.99996 20.5H19V19.5H4.99996V20.5ZM19 20.5C19.8094 20.5 20.545 19.8282 20.4345 18.9402L19.4421 19.0637C19.468 19.2719 19.2951 19.5 19 19.5V20.5ZM20.4345 18.9402C20.0164 15.5804 17.6391 12.8309 14.4823 11.8683L14.1907 12.8249C16.9761 13.6742 19.0735 16.1018 19.4421 19.0637L20.4345 18.9402Z" fill="#000000"></path>
										</g>
									</g> <defs> <filter id="filter0_d_15_82" x="2.55444" y="3.5" width="18.8911" height="19" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"> <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood> <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix> <feOffset dy="1"></feOffset> <feGaussianBlur stdDeviation="0.5"></feGaussianBlur> <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix> <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_82"></feBlend> <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_82" result="shape"></feBlend> </filter> <clipPath id="clip0_15_82"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs>
								</g>
							</svg>
						</span>
						<span class="text">Thông tin</span>
					</a>
					<ul id="ddmenu_3" class="collapse dropdown-nav" style="margin-left:5%;">
						<li>
							<a href="#" id="show-info"> Thông tin</a>
						</li>
						@if (Context.Session.GetInt32("IsEmailLogin") == null)
						{
							<li>
								<a href="#" id="change-passworld"> Đổi mật khẩu</a>
							</li>
						}
						<li>
							<a href="#" id="change-address"> Địa chỉ</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="@Url.Action("tables1", "Bill")">
						<span class="icon">
							<svg width="20px" height="20px" viewBox="0 0 1024 1024" fill="#000000" style="color:black;" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<path d="M300 462.4h424.8v48H300v-48zM300 673.6H560v48H300v-48z" fill=""></path><path d="M818.4 981.6H205.6c-12.8 0-24.8-2.4-36.8-7.2-11.2-4.8-21.6-11.2-29.6-20-8.8-8.8-15.2-18.4-20-29.6-4.8-12-7.2-24-7.2-36.8V250.4c0-12.8 2.4-24.8 7.2-36.8 4.8-11.2 11.2-21.6 20-29.6 8.8-8.8 18.4-15.2 29.6-20 12-4.8 24-7.2 36.8-7.2h92.8v47.2H205.6c-25.6 0-47.2 20.8-47.2 47.2v637.6c0 25.6 20.8 47.2 47.2 47.2h612c25.6 0 47.2-20.8 47.2-47.2V250.4c0-25.6-20.8-47.2-47.2-47.2H725.6v-47.2h92.8c12.8 0 24.8 2.4 36.8 7.2 11.2 4.8 21.6 11.2 29.6 20 8.8 8.8 15.2 18.4 20 29.6 4.8 12 7.2 24 7.2 36.8v637.6c0 12.8-2.4 24.8-7.2 36.8-4.8 11.2-11.2 21.6-20 29.6-8.8 8.8-18.4 15.2-29.6 20-12 5.6-24 8-36.8 8z" fill=""></path>
									<path d="M747.2 297.6H276.8V144c0-32.8 26.4-59.2 59.2-59.2h60.8c21.6-43.2 66.4-71.2 116-71.2 49.6 0 94.4 28 116 71.2h60.8c32.8 0 59.2 26.4 59.2 59.2l-1.6 153.6z m-423.2-47.2h376.8V144c0-6.4-5.6-12-12-12H595.2l-5.6-16c-11.2-32.8-42.4-55.2-77.6-55.2-35.2 0-66.4 22.4-77.6 55.2l-5.6 16H335.2c-6.4 0-12 5.6-12 12v106.4z" fill=""></path>
								</g>
							</svg>
						</span>
						<span class="text" href="#" id="show-orders" style="margin-left:-5%;">Đơn mua</span>
					</a>
				</li>

				<li class="nav-item" style="margin-left:1%;">
					<a asp-controller="Customer" asp-action="LogOut">
						<span class="icon">
							<svg fill="#000000" width="20px" height="22px" style="color:black;" viewBox="0 0 32.00 32.00" version="1.1" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<path d="M3.651 16.989h17.326c0.553 0 1-0.448 1-1s-0.447-1-1-1h-17.264l3.617-3.617c0.391-0.39 0.391-1.024 0-1.414s-1.024-0.39-1.414 0l-5.907 6.062 5.907 6.063c0.196 0.195 0.451 0.293 0.707 0.293s0.511-0.098 0.707-0.293c0.391-0.39 0.391-1.023 0-1.414zM29.989 0h-17c-1.105 0-2 0.895-2 2v9h2.013v-7.78c0-0.668 0.542-1.21 1.21-1.21h14.523c0.669 0 1.21 0.542 1.21 1.21l0.032 25.572c0 0.668-0.541 1.21-1.21 1.21h-14.553c-0.668 0-1.21-0.542-1.21-1.21v-7.824l-2.013 0.003v9.030c0 1.105 0.895 2 2 2h16.999c1.105 0 2.001-0.895 2.001-2v-28c-0-1.105-0.896-2-2-2z"></path>
								</g>
							</svg>
						</span>
						<span class="text">Logout</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>
	<div class="overlay"></div>
	<!-- ======== sidebar-nav end =========== -->
	<!-- ======== main-wrapper start =========== -->
	<main class="main-wrapper">
		<!-- ========== header start ========== -->
		<header class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-6">
						<div class="header-left d-flex align-items-center">
							<div class="menu-toggle-btn mr-15">
								<button id="menu-toggle" class="main-btn primary-btn btn-hover" style="background-color:black;">
									<i class="lni lni-chevron-left me-2"></i> Menu
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-6">
						<div class="header-right">
							<!-- notification start -->
							<div class="notification-box ml-15 d-none d-md-flex">
								<button class="dropdown-toggle" type="button" id="notification" data-bs-toggle="dropdown"
										aria-expanded="false">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M11 20.1667C9.88317 20.1667 8.88718 19.63 8.23901 18.7917H13.761C13.113 19.63 12.1169 20.1667 11 20.1667Z"
											  fill="" />
										<path d="M10.1157 2.74999C10.1157 2.24374 10.5117 1.83333 11 1.83333C11.4883 1.83333 11.8842 2.24374 11.8842 2.74999V2.82604C14.3932 3.26245 16.3051 5.52474 16.3051 8.24999V14.287C16.3051 14.5301 16.3982 14.7633 16.564 14.9352L18.2029 16.6342C18.4814 16.9229 18.2842 17.4167 17.8903 17.4167H4.10961C3.71574 17.4167 3.5185 16.9229 3.797 16.6342L5.43589 14.9352C5.6017 14.7633 5.69485 14.5301 5.69485 14.287V8.24999C5.69485 5.52474 7.60672 3.26245 10.1157 2.82604V2.74999Z"
											  fill="" />
									</svg>
									<span></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
									<li>
										<a href="#0">
											<div class="image">
												<img src="~/assets/images/lead/lead-6.png" alt="" />
											</div>
											<div class="content">
												<h6>
													John Doe
													<span class="text-regular">
														comment on a product.
													</span>
												</h6>
												<p>
													Lorem ipsum dolor sit amet, consect etur adipiscing
													elit Vivamus tortor.
												</p>
												<span>10 mins ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#0">
											<div class="image">
												<img src="~/assets/images/lead/lead-1.png" alt="" />
											</div>
											<div class="content">
												<h6>
													Jonathon
													<span class="text-regular">
														like on a product.
													</span>
												</h6>
												<p>
													Lorem ipsum dolor sit amet, consect etur adipiscing
													elit Vivamus tortor.
												</p>
												<span>10 mins ago</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<!-- notification end -->
							<!-- message start -->
							<div class="header-message-box ml-15 d-none d-md-flex">
								<button class="dropdown-toggle" type="button" id="message" data-bs-toggle="dropdown"
										aria-expanded="false">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.74866 5.97421C7.91444 5.96367 8.08162 5.95833 8.25005 5.95833C12.5532 5.95833 16.0417 9.4468 16.0417 13.75C16.0417 13.9184 16.0364 14.0856 16.0259 14.2514C16.3246 14.138 16.6127 14.003 16.8883 13.8482L19.2306 14.629C19.7858 14.8141 20.3141 14.2858 20.129 13.7306L19.3482 11.3882C19.8694 10.4604 20.1667 9.38996 20.1667 8.25C20.1667 4.70617 17.2939 1.83333 13.75 1.83333C11.0077 1.83333 8.66702 3.55376 7.74866 5.97421Z"
											  fill="" />
										<path d="M14.6667 13.75C14.6667 17.2938 11.7939 20.1667 8.25004 20.1667C7.11011 20.1667 6.03962 19.8694 5.11182 19.3482L2.76946 20.129C2.21421 20.3141 1.68597 19.7858 1.87105 19.2306L2.65184 16.8882C2.13062 15.9604 1.83338 14.89 1.83338 13.75C1.83338 10.2062 4.70622 7.33333 8.25004 7.33333C11.7939 7.33333 14.6667 10.2062 14.6667 13.75ZM5.95838 13.75C5.95838 13.2437 5.54797 12.8333 5.04171 12.8333C4.53545 12.8333 4.12504 13.2437 4.12504 13.75C4.12504 14.2563 4.53545 14.6667 5.04171 14.6667C5.54797 14.6667 5.95838 14.2563 5.95838 13.75ZM9.16671 13.75C9.16671 13.2437 8.7563 12.8333 8.25004 12.8333C7.74379 12.8333 7.33338 13.2437 7.33338 13.75C7.33338 14.2563 7.74379 14.6667 8.25004 14.6667C8.7563 14.6667 9.16671 14.2563 9.16671 13.75ZM11.4584 14.6667C11.9647 14.6667 12.375 14.2563 12.375 13.75C12.375 13.2437 11.9647 12.8333 11.4584 12.8333C10.9521 12.8333 10.5417 13.2437 10.5417 13.75C10.5417 14.2563 10.9521 14.6667 11.4584 14.6667Z"
											  fill="" />
									</svg>
									<span></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message">
									<li>
										<a href="#0">
											<div class="image">
												<img src="~/assets/images/lead/lead-5.png" alt="" />
											</div>
											<div class="content">
												<h6>Jacob Jones</h6>
												<p>Hey!I can across your profile and ...</p>
												<span>10 mins ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#0">
											<div class="image">
												<img src="~/assets/images/lead/lead-3.png" alt="" />
											</div>
											<div class="content">
												<h6>John Doe</h6>
												<p>Would you mind please checking out</p>
												<span>12 mins ago</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#0">
											<div class="image">
												<img src="~/assets/images/lead/lead-2.png" alt="" />
											</div>
											<div class="content">
												<h6>Anee Lee</h6>
												<p>Hey! are you available for freelance?</p>
												<span>1h ago</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<!-- message end -->
							<!-- profile start -->
							<div class="profile-box ml-15">
								<button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
										data-bs-toggle="dropdown" aria-expanded="false">
									<div class="profile-info">
										<div class="info">
											<div class="image">
												@if (ImageUser != null)
												{
													<img src="/image/@Html.Raw(ImageUser?.Replace("\"", ""))" alt="Avatar" style="height:100%; object-fit:cover; object-position:center;" />
												}
												else if (Model.BillList.Count >= 0)
												{
													<img src="/image/this-is-the-icon-for-the-profile-or-user-free-vector.jpg" alt="Avatar" style="height:100%; object-fit:cover; object-position:center;" />
												}
											</div>
											<div>
												<h6 class="fw-500">@Html.Raw(fullName?.Replace("\"", ""))</h6>
											</div>
										</div>
									</div>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile" style="width:200%;">
									<li>
										<div class="author-info flex items-center !p-1">
											<div class="image">
												@if (ImageUser != null)
												{
													<img src="/image/@Html.Raw(ImageUser?.Replace("\"", ""))" alt="Avatar">
												}
												else if (Model.BillList.Count >= 0)
												{
													<img src="/image/this-is-the-icon-for-the-profile-or-user-free-vector.jpg" alt="Avatar">
												}
											</div>
											<div class="content">
												<h4 class="text-sm">@Html.Raw(fullName?.Replace("\"", ""))</h4>
												<a class="text-black/40 dark:text-white/40 hover:text-black dark:hover:text-white text-xs" href="#">@Html.Raw(email?.Replace("\"", ""))</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- profile end -->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- ========== header end ========== -->
		<!-- ========== table components start ========== -->
		<section class="table-components">
			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							@*<div class="title">
							<h2>Danh sách đơn hàng</h2>
							</div>*@
						</div>
						<!-- end col -->
						@*<div class="col-md-6">
						<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item">
						<a href="#0">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
						Tables
						</li>
						</ol>
						</nav>
						</div>
						</div>*@
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- ========== title-wrapper end ========== -->
				<!-- ========== tables-wrapper start ========== -->

				<div id="edit-container"></div>

				<div class="tables-wrapper1" style="display: none;">
					<div class="row">
						<div class="container-xl px-4 mt-4">
							<div class="row">
								<form asp-action="updateInformationUser" enctype="multipart/form-data" style="display:flex; flex-wrap:wrap; gap: 10px;">
									<div class="col-xl-4">
										<!-- Profile picture card-->
										<div class="card mb-4 mb-xl-0">
											<div class="card-header">Ảnh hồ sơ</div>
											<div class="card-body text-center">
												<!-- Profile picture image-->
												@if (ImageUser != null)
												{
													<img class="img-account-profile rounded-circle mb-2" src="~/image/@Html.Raw(ImageUser?.Replace("\"", ""))" style="object-fit:cover; object-position: center; width:150px; height:150px;" alt="Image User">
												}
												else if (Model.BillList.Count >= 0)
												{
													<img class="img-account-profile rounded-circle mb-2" src="~/image/Screenshot_1.png" alt="Image User">
												}
												<div class="file-upload">
													<div class="file-select">
														<div class="file-select-button" id="fileName">Chọn tệp</div>
														<div class="file-select-name" id="noFile">Không tệp nào được chọn...</div>
														<input type="file" name="chooseFile" id="chooseFile">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-7">
										<!-- Account details card-->
										<div class="card mb-4">
											<div class="card-header">Thông tin tài khoản</div>
											<div class="card-body">
												<!-- Form Group (username)-->
												<div class="mb-3" style="display:none;">
													<label class="small mb-1" for="inputUsername">UserID</label>
													<input class="form-control" name="inputUserID" id="inputUserID" type="text" value="@Html.Raw(UserId?.Replace("\"", ""))" style="color: black;">
												</div>
												<div class="mb-3">
													<label class="small mb-1" for="inputUsername">Tên đăng nhập</label>
													<input class="form-control" name="inputUsername" id="inputUsername" type="text" placeholder="Nhập vào tên đăng nhập" value="@Html.Raw(userName?.Replace("\"", ""))" style="color: black;">
												</div>
												<!-- Form Row-->
												<div class=" mb-3">
													<!-- Form Group (first name)-->

													<label class="small mb-1" for="inputFirstName">Họ và tên</label>
													<input class="form-control" name="inputFullname" id="inputFirstName" type="text" placeholder="Nhập vào họ và tên" value="@Html.Raw(fullName?.Replace("\"", ""))" style="color: black;">
												</div>
												<!-- Form Row-->
												<div class="row gx-3 mb-3">
													<!-- Form Group (phone number)-->
													<div class="col-md-6">
														<label class="small mb-1" for="inputPhone">Số điện thoại</label>
														<input class="form-control" name="phoneNumberUser" id="inputPhone" type="text" placeholder="Nhập vào số điện thoại" value="@Html.Raw(PhoneNumber?.Replace("\"", ""))" style="color: black;">
													</div>
													<!-- Form Group (birthday)-->
													@if (Context.Session.GetInt32("IsEmailLogin") != null)
													{
														<div class="col-md-6">
															<label class="small mb-1" for="inputEmailAddress">Email</label>
															<input class="form-control" name="emailUser" id="inputEmailAddress" type="email" placeholder="Nhập vào địa chỉ email" value="@Html.Raw(email?.Replace("\"", ""))" style="color: black;" disabled>
														</div>
													}
													else
													{
														<div class="col-md-6">
															<label class="small mb-1" for="inputEmailAddress">Email</label>
															<input class="form-control" name="emailUser" id="inputEmailAddress" type="email" placeholder="Nhập vào địa chỉ email" value="@Html.Raw(email?.Replace("\"", ""))" style="color: black;">
														</div>
													}
												</div>
												@if (Context.Session.GetInt32("IsEmailLogin") == null)
												{
													<div class=" mb-3">
														<label class="small mb-1" for="inputFirstName">Mật khẩu</label>
														<input class="form-control" name="inputPassword" id="inputPassword" type="password" placeholder="Nhập vào mật khẩu" value="@Html.Raw(Password?.Replace("\"", ""))" style="color: black;">
													</div>
												}
												<div class="row gx-3 mb-3">
													<div class="radio-inputs">
														@if (Sex == "0")
														{
															<label>
																<input name="sex" value="0" class="radio-input" type="radio" checked>
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M36.1 27.9L62 2M38 6l24-4-4 24"
																			  stroke-linejoin="round" stroke-linecap="round"></path>
																			<circle data-name="layer1" cx="22" cy="42" r="20" fill="none" stroke="#202020"
																				stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																		</svg>
																	</span>
																	<span class="radio-label">Nam</span>
																</span>
															</label>
															<label>
																<input name="sex" value="1" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  d="M51 21a19 19 0 1 0-22 18.7V48h-8v6h8v8h6v-8h8v-6h-8v-8.3A19 19 0 0 0 51 21z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																			<path data-name="layer1" d="M19 21a13 13 0 1 1 13 13 13 13 0 0 1-13-13z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Nữ</span>
																</span>
															</label>
															<label>
																<input name="sex" value="2" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<circle data-name="layer2"
																				cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10"
																				stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																			<path data-name="layer1" d="M48 40.9a18.5 18.5 0 0 1-32-.3m2-14.7a4 4 0 0 0 8 0m12 0a4 4 0 1 0 8 0"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Không rõ</span>
																</span>
															</label>
														}
														else if (Sex == "1")
														{
															<label>
																<input name="sex" value="0" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M36.1 27.9L62 2M38 6l24-4-4 24"
																			  stroke-linejoin="round" stroke-linecap="round"></path>
																			<circle data-name="layer1" cx="22" cy="42" r="20" fill="none" stroke="#202020"
																				stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																		</svg>
																	</span>
																	<span class="radio-label">Nam</span>
																</span>
															</label>
															<label>
																<input name="sex" value="1" class="radio-input" type="radio" checked>
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  d="M51 21a19 19 0 1 0-22 18.7V48h-8v6h8v8h6v-8h8v-6h-8v-8.3A19 19 0 0 0 51 21z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																			<path data-name="layer1" d="M19 21a13 13 0 1 1 13 13 13 13 0 0 1-13-13z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Nữ</span>
																</span>
															</label>
															<label>
																<input name="sex" value="2" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<circle data-name="layer2"
																				cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10"
																				stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																			<path data-name="layer1" d="M48 40.9a18.5 18.5 0 0 1-32-.3m2-14.7a4 4 0 0 0 8 0m12 0a4 4 0 1 0 8 0"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Không rõ</span>
																</span>
															</label>
														}
														else
														{
															<label>
																<input name="sex" value="0" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M36.1 27.9L62 2M38 6l24-4-4 24"
																			  stroke-linejoin="round" stroke-linecap="round"></path>
																			<circle data-name="layer1" cx="22" cy="42" r="20" fill="none" stroke="#202020"
																				stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																		</svg>
																	</span>
																	<span class="radio-label">Nam</span>
																</span>
															</label>
															<label>
																<input name="sex" value="1" class="radio-input" type="radio">
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<path data-name="layer2"
																			  d="M51 21a19 19 0 1 0-22 18.7V48h-8v6h8v8h6v-8h8v-6h-8v-8.3A19 19 0 0 0 51 21z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																			<path data-name="layer1" d="M19 21a13 13 0 1 1 13 13 13 13 0 0 1-13-13z"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Nữ</span>
																</span>
															</label>
															<label>
																<input name="sex" value="2" class="radio-input" type="radio" checked>
																<span class="radio-tile">
																	<span class="radio-icon">
																		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
																		 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
																			<circle data-name="layer2"
																				cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10"
																				stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
																			<path data-name="layer1" d="M48 40.9a18.5 18.5 0 0 1-32-.3m2-14.7a4 4 0 0 0 8 0m12 0a4 4 0 1 0 8 0"
																			  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
																			  stroke-linecap="round"></path>
																		</svg>
																	</span>
																	<span class="radio-label">Không rõ</span>
																</span>
															</label>
														}
													</div>
												</div>
												<!-- Save changes button-->
												<button class="main-btn light-btn-outline btn-hover" style="margin-left:42%;" type="submit">Lưu</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<script>
					$(document).ready(function () {
						$('#chooseFile').on('change', function () {
							const fileInput = this;
							const fileName =
								fileInput.files && fileInput.files.length > 0
									? fileInput.files[0].name
									: "";

							if (fileName === "") {
								$(".file-upload").removeClass('active');
								$("#noFile").text("Không tệp nào được chọn...");
							} else {
								$(".file-upload").addClass('active');
								$("#noFile").text(fileName);
							}
						});
					});
				</script>
			</div>
			<div class="tables-wrapper2" style="display: none; margin-left:7%; margin-right:7%;">
				<div class="row">
					<div class="col-lg-12">
						<div class="card-style mb-30">
							<div class="table-wrapper table-responsive">
								<div class="title" style="text-align:center;">
									<h2>Danh sách mã giảm giá bạn đang sở hữu:</h2>
								</div>

								<div class="list-group max-width" id="voucherList" style="display:flex !important; flex-wrap:wrap; flex-direction:row !important; gap:165px; width:100%; margin-top:2%;">
									<!-- Danh sách voucher sẽ được thêm vào đây bằng JavaScript -->
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>

					<!-- end col -->
				</div>

				<!-- end row -->
			</div>

			<script>
				$(document).ready(function () {
					$("#searchVoucherBtn1").click(function () {
						var username = $("#userNameLi").html().trim();
						if (!username) {
							username = null;
						}
						$.ajax({
							type: "GET",
							url: "https://localhost:7036/api/Voucher/get-voucher-for-username?username=" + username,
							dataType: 'json',
							success: function (data) {
								// Xóa danh sách voucher cũ
								$("#voucherList").empty();

								// Lặp qua mảng data trong JavaScript
								for (var i = 0; i < data.length; i++) {
									var voucher = data[i];
									var voucherHtml = `
																										<div class="coupon" >
																											<div class="leftcp">
																												<h1>${voucher.voucherCode}</h1>
																											</div>
																											<div class="centercp">
																												<div>
																													<h2>Giảm ${voucher.voucherValue.toLocaleString('vi-VN')}Đ</h2>
																													<h3>Đơn tối thiểu ${voucher.total.toLocaleString('vi-VN')}Đ</h3>
																													<small>Hạn đến ${formatDate(voucher.expirationDate)}</small><br>
																													<a class="main-btn light-btn-outline btn-hover apply-voucher-btn" data-code="${voucher.voucherCode}" style="font-size:16px; padding:5px 10px; margin-top:8px; display:inline-block;">Dùng ngay</a>
																												</div>
																											</div>
																										</div>`;
									$("#voucherList").append(voucherHtml);
								}
							},

							error: function (error) {
								console.error("Lỗi khi lấy voucher:", error);
							},
							complete: function () {
								console.log("Request hoàn tất.");
							}
						});
					});

					$(document).on("click", ".apply-voucher-btn", function () {
						const voucherCode = $(this).data("code"); // Lấy mã từ data-code
						if (!voucherCode) return;
						// Lưu tạm mã voucher vào localStorage
						localStorage.setItem("selectedVoucherCode", voucherCode);
						// Chuyển hướng sang trang giỏ hàng
						window.location.href = "https://localhost:7120/Cart/Cart";
					});

					function formatDate(dateString) {
						const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
						// Chuyển đổi chuỗi ngày thành đối tượng Date
						const dateObject = new Date(dateString);
						// Lấy các thành phần của ngày
						const year = dateObject.getFullYear();
						const month = (dateObject.getMonth() + 1).toString().padStart(2, '0'); // Thêm số 0 phía trước nếu cần
						const day = dateObject.getDate().toString().padStart(2, '0'); // Thêm số 0 phía trước nếu cần
						// Tạo chuỗi ngày mới
						const formattedDate = `${day}-${month}-${year}`;
						return formattedDate;
					}
				});
			</script>

			<div style="display:none;">
				<li style="display:none;" class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" id="userNameLi">
					@Html.Raw(userName?.Replace("\"", ""))
				</li>
			</div>

			<div class="tables-wrapper-changepass" style="display: none; margin-left:25%; margin-top:5%;">
				<div class="row">
					<div class="col-xl-8">
						<!-- Account details card-->
						<div class="card mb-4">
							<div class="card-header" style="align-items:center; text-align:center;">Đổi mật khẩu</div>
							<form asp-action="ChangePassword" id="form-changePass">
								<div class="card-body">
									<!-- Form Group (username)-->
									<div class="mb-3" style="display:none;">
										<label class="small mb-1" for="inputUsername">UserID</label>
										<input class="form-control" name="inputUserIDPass" id="inputUserIDPass" type="text" value="@Html.Raw(UserId?.Replace("\"", ""))" style="color: black;">
									</div>
									<div class="mb-3">
										<label class="small mb-1" for="inputUsername">Mật khẩu hiện tại</label>
										<input class="form-control" name="passUser" id="oldPass" type="password" placeholder="Nhập vào mật khẩu hiện tại" value="@Html.Raw(Password?.Replace("\"", ""))" style="color: black;">
									</div>
									<!-- Form Row-->
									<div class=" mb-3">
										<label class="small mb-1" for="inputFirstName">Mật khẩu mới</label>
										<input class="form-control" name="newPass" id="newPass" type="password" placeholder="Nhập vào mật khẩu mới" style="color: black;">
									</div>
									<div class=" mb-3">
										<label class="small mb-1" for="inputFirstName">Nhập lại mật khẩu mới</label>
										<input class="form-control" name="renewPass" id="renewPass" type="password" placeholder="Nhập lại mật khẩu mới" style="color: black;">
									</div>
									<button class="main-btn light-btn-outline btn-change-password" style="margin-left:42%;">Lưu</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<script>
				$('.btn-change-password').click(function (e) {
					e.preventDefault();

					var inputUserID = $('#inputUserIDPass').val();
					var passUser = $('#oldPass').val();
					var newPass = $('#newPass').val();
					var renewPass = $('#renewPass').val();

					$.ajax({
						url: '/DashBoardCustomer/ChangePassword',
						type: 'POST',
						data: {
							inputUserID: inputUserID,
							passUser: passUser,
							newPass: newPass,
							renewPass: renewPass
						},
						success: function (response) {
							// Chọn loại Noty theo trạng thái thành công hay thất bại
							var notyType = response.success ? 'success' : 'error';

							new Noty({
								type: notyType,
								layout: 'topRight',
								theme: 'metroui',
								text: response.message,
								timeout: 2000,
								progressBar: true,
								closeWith: ['click', 'button'],
							}).show();

							if (response.success) {
								$('#form-changePass')[0].reset();
							}
						},
						error: function () {
							alert("Có lỗi xảy ra, vui lòng thử lại!");
						}
					});
				});
			</script>

			<div class="tables-wrapper-changeAddress" style="display: none; margin-top:2%;">
				@if (!Model.AddressList.Any())
				{
					<p style='text-align:center; margin-top:30px;'>Không có địa chỉ nào.</p>
				}
				else
				{
					<div class="row">
						<div class="title" style="text-align:center;">
							<h3>Địa chỉ của tôi</h3>
							<button class="main-btn light-btn-outline btn-add-address" style="justify-items:center; margin-top:1%;">Thêm địa chỉ</button>
						</div>
						<div class="grid-container" style="margin-top:2%;">
							@foreach (var address in Model.AddressList.Where(c => c.Status != 1).ToList())
							{
								<div class="card-address">
									<div class="address-header" style="display:flex; justify-content:space-between; align-items:center;">
										<div class="title-address" style="font-size:17px;">@address.FullNameCus</div>
										@if (address.IsDefaultAddress == true)
										{
											<div class="icon-address" style="display:flex; align-items:center; gap:6px; font-size:16px;"><i class="fa-thin fa-location-dot" style="font-size:24px;"></i><span>Mặc định</span></div>
										}
									</div>
									<div class="content-address">
										<p style="font-size:16px;">@address.PhoneNumber</p>
										<p style="font-size:16px; font-family:sans-serif; word-spacing:1px;">@address.Street, @address.Ward, @address.District, @address.Province</p>
									</div>
									<div class="address-actions" style="display:flex; justify-content:center; gap:15px; height:35%;">
										@if (address.IsDefaultAddress == true)
										{
											<button class="main-btn light-btn-outline btn-set-address" data-addressid="@address.AddressID" style="font-size:10px; width:18%; height:18%; background-color:black; color:white;" disabled>Đặt làm mặc định</button>
										}
										else
										{
											<button class="main-btn light-btn-outline btn-set-address" data-addressid="@address.AddressID" style="font-size:10px; width:18%; height:18%; background-color:black; color:white;">Đặt làm mặc định</button>
										}
										<button class="main-btn light-btn-outline btn-update-address" style="font-size:10px; width:18%; height:18%; background-color:black; color:white;">Cập nhật</button>
										@*Nếu người dùng chọn địa chỉ mặc định - không cho xóa*@
										@if (address.IsDefaultAddress == true)
										{
											<button class="main-btn light-btn-outline btn-remove-address" data-addressid="@address.AddressID" style="font-size:10px; width:18%; height:18%; background-color:black; color:white;" disabled>Xóa</button>
										}
										else
										{
											<button class="main-btn light-btn-outline btn-remove-address" data-addressid="@address.AddressID" style="font-size:10px; width:18%; height:18%; background-color:black; color:white;">Xóa</button>
										}
									</div>
								</div>
							}
						</div>
					</div>
				}
			</div>

			@*Modal form nhập thêm địa chỉ*@
			<div class="modal-box">
				<div class="modal fade" id="modalAddAddress" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<button type="button" class="close quay-lai" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<div class="modal-body">
								<h3 class="title">Thêm địa chỉ mới</h3>
								<form method="post" action="@Url.Action("AddAddress", "Cart")">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" name="nameUser" placeholder="Họ và tên" required>
										<label for="floatingInputEmail">Họ và tên</label>
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control" name="phoneNumber" placeholder="Số điện thoại" required>
										<label for="floatingInputEmail">Số điện thoại</label>
									</div>
									<div class="row mb-4">
										<div class="col">
											<div class="form-floating mb-3">
												<select class="form-control" id="ListTinh" onchange="updateProvinceValue(this); fetchDistricts(this.value)">
													<option value="" disabled selected>Chọn tỉnh / thành</option>
												</select>
												<label for="floatingInputEmail">Tỉnh/Thành Phố</label>
											</div>
											<input type="hidden" id="ProvinceName" name="provinceName" />
										</div>
										<div class="col">
											<div class="form-floating mb-3">
												<select class="form-control" id="ListQuanHuyen" onchange="updateDistrictValue(this); updateDistrictAndFetchWards()">
													<option value="" disabled selected>Chọn quận / huyện</option>
												</select>
												<label for="floatingInputEmail">Quận/Huyện</label>
											</div>
											<input type="hidden" id="DistrictName" name="districtName" />
										</div>
										<div class="col">
											<div class="form-floating mb-3">
												<select class="form-control" id="ListPhuongXa" onchange="updateWardValue(this); calculateShippingFee(this.value, document.getElementById('ListQuanHuyen').value)">
													<option value="" disabled selected>Chọn xã / phường</option>
												</select>
												<label for="floatingInputEmail">Xã/Phường</label>
											</div>
											<input type="hidden" id="WardName" name="wardName" />
										</div>
										<input style="display:none;" id="shippingCost" name="ShippingCost" />
										<input style="display:none;" id="districtIDCus" name="DistrictID" />
										<input style="display:none;" id="wardCodeCus" name="WardCode" />
										<input style="display:none;" id="shippingMethodID" name="ShippingMethodID" />
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control" name="street" placeholder="Địa chỉ" required>
										<label for="floatingInputEmail">Địa chỉ cụ thể (Số nhà, đường):</label>
									</div>
									<button class="main-btn dark-btn-outline btn-hover btn-add-diachi" type="button" style="font-size:16px; padding:5px 10px; margin:2px;">
										Thêm
									</button>
									<div style="padding-right: 300px; display:none;" id="shippingOptionsDiv">
										<label class="radio-button" style="font-size: 14px; display: inline;">
											<input type="radio" name="example-radio" value="option1">
											<span class="radio"></span>
										</label>

										<label class="radio-button" style="font-size: 14px; display:none;">
											<input type="radio" name="example-radio" value="option2">
											<span class="radio"></span>
										</label>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function () {
					$(document).on('click', '.btn-set-address', function (e) {
						e.preventDefault();

						const addressId = $(this).data("addressid");
						if (!addressId) return;

						$.ajax({
							url: '/DashBoardCustomer/SetDefaultAddessProfile',
							type: 'POST',
							data: { AddressID: addressId },
							success: function (response) {
								var notyType = response.success ? 'success' : 'error';

								new Noty({
									type: notyType,
									layout: 'topRight',
									theme: 'metroui',
									text: response.message,
									timeout: 1500,
									progressBar: true,
									closeWith: ['click', 'button'],
									callbacks: {
										afterClose: function () {
											location.reload();
										}
									}
								}).show();
							},
							error: function () {
								alert("Có lỗi xảy ra, vui lòng thử lại!");
							}
						});
					});
					//
					//
					$(document).on('click', '.btn-remove-address', function (e) {
						e.preventDefault();

						const addressId = $(this).data("addressid");
						if (!addressId) return;

						$.ajax({
							url: '/DashBoardCustomer/RemoveAddressProfile',
							type: 'POST',
							data: { AddressID: addressId },
							success: function (response) {
								var notyType = response.success ? 'success' : 'error';

								new Noty({
									type: notyType,
									layout: 'topRight',
									theme: 'metroui',
									text: response.message,
									timeout: 1500,
									progressBar: true,
									closeWith: ['click', 'button'],
									callbacks: {
										afterClose: function () {
											location.reload();
										}
									}
								}).show();
							},
							error: function () {
								alert("Có lỗi xảy ra, vui lòng thử lại!");
							}
						});
					});
				});
			</script>

			@*script khởi tạo modal và gửi form*@
			<script>
				$(document).ready(function () {
					$('.btn-add-address').click(function () {
						$('#modalAddAddress').modal('show');
					});
				});

				$(document).ready(function () {
					$('.quay-lai').click(function () {
						$('#modalAddAddress').modal('hide');
					});
				});

				$(document).ready(function () {
					// Bắt sự kiện click trên nút thêm
					$('.btn-add-diachi').click(function (e) {
						e.preventDefault();

						// Lấy giá trị từ các trường input và gửi ajax
						var nameUser = $('input[name="nameUser"]').val();
						var phoneNumber = $('input[name="phoneNumber"]').val();
						var provinceName = $('input[name="provinceName"]').val();
						var districtName = $('input[name="districtName"]').val();
						var wardName = $('input[name="wardName"]').val();
						var street = $('input[name="street"]').val();
						var shippingCostHTML = $('input[name="ShippingCost"]').val();
						var shippingCost = parseFloat(shippingCostHTML);
						var districtID = $('input[name="DistrictID"]').val();
						var wardCode = $('input[name="WardCode"]').val();
						var shippingMethodID = $('input[name="ShippingMethodID"]').val();

						// Gửi dữ liệu lên server sử dụng Ajax
						$.ajax({
							url: '@Url.Action("AddAddressFromProfileUser", "DashBoardCustomer")',
							type: 'POST',
							data: {
								nameUser: nameUser,
								phoneNumber: phoneNumber,
								provinceName: provinceName,
								districtName: districtName,
								wardName: wardName,
								street: street,
								ShippingCost: shippingCost,
								DistrictID: districtID,
								WardCode: wardCode,
								ShippingMethodID: shippingMethodID
							},
							success: function (response) {
								var notyType = response.success ? 'success' : 'error';

								new Noty({
									type: notyType,
									layout: 'topRight',
									theme: 'metroui',
									text: response.message,
									timeout: 1500,
									progressBar: true,
									closeWith: ['click', 'button'],
									callbacks: {
										afterClose: function () {
											location.reload();
										}
									}
								}).show();
							},
							error: function () {
								alert("Có lỗi xảy ra, vui lòng thử lại!");
							}
						});
					});
				});
			</script>
			<div class="tables-wrapper" style="margin-left:7%; margin-right:7%;">
				<div class="custom-row d-flex justify-content-between align-items-center">
					<form method="get" id="searchForm" class="search-bar" style="flex: 1; max-width: 70%;" action="@Url.Action("findTables")">
						<div class="search" style="width:920%;">
							<input type="text" id="searchInput" class="form-control" name="billCode" placeholder="Bạn có thể tìm kiếm theo Mã đơn hàng hoặc Tên sản phẩm...">
						</div>
					</form>
					<form method="get" action="@Url.Action("Filter")" style="margin-left:80%;">
						<div>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Trạng thái
								</button>
								<ul class="dropdown-menu" id="statusDropdown" style="cursor:pointer;">
									<li><a class="dropdown-item" data-value="8">Tất cả</a></li>
									<li><a class="dropdown-item" data-value="0">Chờ xác nhận</a></li>
									<li><a class="dropdown-item" data-value="1">Đã xác nhận thông tin</a></li>
									<li><a class="dropdown-item" data-value="2">Đang vận chuyển</a></li>
									<li><a class="dropdown-item" data-value="3">Giao hàng thành công</a></li>
									<li><a class="dropdown-item" data-value="6">Hoàn trả</a></li>
									<li><a class="dropdown-item" data-value="4">Đã hủy</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>

				<div class="title" style="margin-top:2%;">
					<h2>Danh sách đơn hàng</h2>
				</div>
				@if (!Model.BillList.Any())
				{
					<p style='text-align:center; margin-top:30px;'>Không có hóa đơn nào.</p>
				}
				else
				{
					<div id="resultContainer">
						@foreach (var group in Model.BillList.GroupBy(c => c.BillID).OrderByDescending(c => c.First().CreateDate))
						{
							var bill = group.First();
							<div class="row" style="margin-top:1%;">
								<div class="col-lg-12">
									<div class="card-style mb-30">
										<div class="table-wrapper table-responsive">
											<table class="table">
												<tbody>
													@foreach (var item in group)
													{
														<tr class="bill-row" style="margin-top:5%; margin-bottom:5%">
															<td class="min-width d-flex align-items-flex-start">
																<div class="col-lg-2 col-md-12 mb-4 mb-lg-0">
																	<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
																		<img src="@Url.Content("~/image/" + item.ImageUrl)" class="w-100" alt="Image" />
																		<a href="#!">
																			<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
																		</a>
																	</div>
																</div>
																<div class="col-lg-9 col-md-6 mb-4 mb-lg-0" style="margin-left:3%;">
																	<p style="font-size:23px;"><strong>@item.NameProduct</strong></p>
																	<p>Phân loại hàng: @item.Description</p>
																	<p>X@(item.TotalShoes)</p>
																	<p style="font-size:15px; float:right;">@item.Price.ToString("N0")đ</p>
																	<p>Size:@item.SizeName</p>
																</div>
															</td>
														</tr>
													}
													<tr>
														<td>
															<p style="font-size:20px; float:right; margin-right:5%;">
																Thành tiền:
																<strong style="color:red;">@bill.TotalPrice.ToString("N0")đ</strong>
															</p>
															<a href="@Url.Action("DetailsBill", "Bill", new { billID = bill.BillID, customerID = bill.CustomerID })" class="main-btn secondary-btn-light rounded-full btn-hover"
													   style="display:inline-block; border-radius:5px; margin-left:80%; margin-top:1%; background-color:white; border:1px solid gray; height:10%; width: 15%; line-height:35px; color:black; font-size:15px; text-align:center; padding:5px 15px;">
																Chi tiết
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				}
			</div>
		</section>
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 order-last order-md-first">
						<div class="copyright text-center text-md-start">
						</div>
					</div>
					<!-- end col-->
					<div class="col-md-6">
						<div class="terms d-flex justify-content-center justify-content-md-end">
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</footer>
		<!-- ========== footer end =========== -->
	</main>
	<script>
		$(document).ready(function () {
			function filterData() {
				const selectedStatus = $("#statusDropdown a.selected").data("value");

				$.ajax({
					type: "GET",
					url: '@Url.Action("Filter")',
					data: { nameStatus: selectedStatus },
					success: function (response) {
						try {
							renderBills(response);
						} catch (err) {
							console.error("renderBills error:", err);
						}
					},
					error: function (error) {
						console.error("AJAX Error:", error);
					}
				});
			}

			// gắn sự kiện dropdown (off trước để tránh gắn nhiều lần)
			$("#statusDropdown a").off("click").on("click", function () {
				$("#statusDropdown a").removeClass("selected");
				$(this).addClass("selected");
				filterData();
			});

			// Hàm render (group nếu data flat)
			function renderBills(data) {
				const container = $("#resultContainer");
				container.empty();
				if (!data || data.length === 0) {
					container.html("<p style='text-align:center; margin-top:30px;'>Không có hóa đơn nào.</p>");
					return;
				}

				// Nếu server đã trả grouped (mỗi phần tử có .items), dùng trực tiếp
				const isGrouped = Array.isArray(data) && data.length > 0 && Array.isArray(data[0].items);
				let groups = [];

				if (isGrouped) {
					groups = data; // cấu trúc đã hợp lệ
				} else {
					// group flat array theo billID
					const map = {};
					data.forEach(item => {
						const id = item.billID ?? item.BillID; // cố gắng hỗ trợ nhiều kiểu tên
						if (!map[id]) map[id] = { billID: id, customerID: item.customerID ?? item.CustomerID, items: [], totalPrice: item.totalPrice ?? item.TotalPrice };
						map[id].items.push(item);
						// cập nhật tổng giá nếu server không cung cấp
						if (!map[id].totalPrice) {
							map[id].totalPrice = (map[id].totalPrice || 0) + (Number(item.totalPrice ?? item.price ?? item.Price ?? 0));
						}
					});
					groups = Object.values(map);
				}

				// render mỗi nhóm
				groups.forEach(group => {
					// item đầu dùng làm nguồn thông tin chung
					const first = Array.isArray(group.items) ? group.items[0] : group.items;
					let itemsHtml = "";
					(group.items || []).forEach(item => {
						itemsHtml += `
													<tr class="bill-row" style="margin-top:5%; margin-bottom:5%">
														<td class="min-width d-flex align-items-flex-start">
															<div style="flex:0 0 150px; max-width:150px;">
																<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
																	<img src="/image/${item.imageUrl ?? item.ImageUrl}" class="w-100" alt="Image" />
																	<a href="#!"><div class="mask" style="background-color: rgba(251,251,251,0.2)"></div></a>
																</div>
															</div>
															<div style="flex:1; margin-left:16px;">
																<p style="font-size:23px;"><strong>${item.nameProduct ?? item.NameProduct}</strong></p>
																<p>Phân loại hàng: ${item.description ?? item.Description}</p>
																<p>X${item.totalShoes ?? item.TotalShoes}</p>
																<p>Size: ${item.sizeName ?? item.SizeName}</p>
																<p style="font-size:15px; float:right;">${formatCurrency(item.price ?? item.Price ?? item.totalPrice ?? 0)}đ</p>
															</div>
														</td>
													</tr>`;
					});
					const total = formatCurrency(group.totalPrice ?? first.totalPrice ?? first.TotalPrice ?? 0);
					const billId = group.billID ?? first.billID ?? first.BillID;
					const customerId = group.customerID ?? first.customerID ?? first.CustomerID;
					const html = `
												<div class="row" style="margin-top:1%;">
													<div class="col-lg-12">
														<div class="card-style mb-30">
															<div class="table-wrapper table-responsive">
																<table class="table">
																	<tbody>
																		${itemsHtml}
																		<tr>
																			<td>
																				<p style="font-size:20px; float:right; margin-right:5%;">
																					Thành tiền: <strong style="color:red;">${total}đ</strong>
																				</p>
																				<a href="/Bill/DetailsBill?billID=${billId}&customerID=${customerId}"
																				   class="main-btn secondary-btn-light rounded-full btn-hover"
																				   style="display:inline-block; border-radius:5px; margin-left:80%; margin-top:1%; background-color:white; border:1px solid gray; height:10%; width:15%; line-height:35px; color:black; font-size:15px; text-align:center; padding:5px 15px;">
																					Chi tiết
																				</a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>`;
					container.append(html);
				});
			}

			function formatCurrency(value) {
				return Number(value || 0).toLocaleString('vi-VN');
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script>
		$(document).ready(function () {
			// Thêm sự kiện click cho liên kết "Đơn mua"
			$('#show-orders').click(function (e) {
				e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

				// Hiển thị tables-wrapper
				$('.tables-wrapper').show();

				$('.tables-wrapper1,.tables-wrapper2,.tables-wrapper-changepass,.tables-wrapper-changeAddress').hide();



				// Ẩn edit-container
				$('#edit-container').empty();
			});

			$("#searchVoucherBtn1").click(function (e) {
				e.preventDefault(); // Prevent the default behavior of the link

				// Show the tables-wrapper2 and hide other elements
				$('.tables-wrapper2').show();
				$('.tables-wrapper,.tables-wrapper1,.tables-wrapper-changepass,.tables-wrapper-changeAddress').hide();

				// Clear any existing content in the edit-container
				$('#edit-container').empty();
			});


			// Thêm sự kiện click cho liên kết "Thông tin"
			$('#show-info').click(function (e) {
				e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

				// Hiển thị tables-wrapper1
				$('.tables-wrapper1').show();

				// Ẩn tables-wrapper
				$('.tables-wrapper,.tables-wrapper2,.tables-wrapper-changepass,.tables-wrapper-changeAddress').hide();

				// Ẩn edit-container
				$('#edit-container').empty();
			});

			// Thêm sự kiện click cho liên kết "Change passworld"
			$('#change-passworld').click(function (e) {
				e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

				// Hiển thị tables-wrapper1
				$('.tables-wrapper-changepass').show();

				// Ẩn tables-wrapper
				$('.tables-wrapper,.tables-wrapper1,.tables-wrapper2,.tables-wrapper-changeAddress').hide();

				// Ẩn edit-container
				$('#edit-container').empty();
			});

			// Thêm sự kiện click cho liên kết "Change address"
			$('#change-address').click(function (e) {
				e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

				// Hiển thị tables-wrapper1
				$('.tables-wrapper-changeAddress').show();

				// Ẩn tables-wrapper
				$('.tables-wrapper,.tables-wrapper1,.tables-wrapper2,.tables-wrapper-changepass').hide();

				// Ẩn edit-container
				$('#edit-container').empty();
			});

			// Thêm sự kiện click cho liên kết "Sửa thông tin"
			$('a[href="#edit"]').click(function (e) {
				e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

				// Ẩn tables-wrapper và tables-wrapper1
				$('.tables-wrapper').hide();
				$('.tables-wrapper1,.tables-wrapper2').hide();


				// Sử dụng AJAX để lấy nội dung biểu mẫu chỉnh sửa
				$.ajax({
					url: '@Url.Action("EditCustomers", "Customers")', // Thay thế "ControllerName" bằng tên thực tế của bộ điều khiển của bạn
					type: 'GET',
					success: function (data) {
						// Thay thế nội dung của một container bằng nội dung biểu mẫu chỉnh sửa đã lấy được
						$('#edit-container').html(data);
					},
					error: function () {
						console.log('Lỗi khi tải biểu mẫu chỉnh sửa.');
					}
				});
			});
			function editCustomer(element) {
				var userId = $(element).closest('tr').data('userid');
				console.log('Đã nhấp. ID Khách hàng:', userId);

				// Đặt giá trị UserId vào trường ẩn
				$('#CumstomerID').val(userId);

				// Chuyển hướng đến trang EditCustomer
				$('#register-form').submit();
			}
		});
	</script>
	@*script từ đây phục vụ add address*@
	<script>
		// lấy d/s tỉnh
		function fetchProvinces() {
			const apiUrl = "https://online-gateway.ghn.vn/shiip/public-api/master-data/province";
			const token = "6092d580-fde7-11ed-a967-deea53ba3605";
			const headers = {
				"Content-Type": "application/json",
				token: token
			};
			fetch(apiUrl, {
				method: "GET",
				headers: headers
			})
				.then(response => response.json())
				.then(data => {
					if (data && data.data) {
						const provinces = data.data;

						const selectElement = document.getElementById("ListTinh");

						provinces.forEach(province => {
							const option = document.createElement("option");
							option.value = province.ProvinceID;
							option.textContent = province.ProvinceName;
							selectElement.appendChild(option);
						});
					}
				})
				.catch(error => {
					console.error("Error fetching provinces:", error);
				});
		}
		function updateProvinceValue(selectElement) {
			const provinceName = selectElement.options[selectElement.selectedIndex].text;
			document.getElementById("ProvinceName").value = provinceName;
		}
		fetchProvinces();
	</script>
	<script>
		//lấy d/s huyện
		function fetchDistricts(province_id) {
			const districtSelect = document.getElementById('ListQuanHuyen');
			districtSelect.innerHTML = '<option value="" disabled selected>Chọn quận / huyện</option>';
			var districtID = document.getElementById('districtID');

			const url = `https://online-gateway.ghn.vn/shiip/public-api/master-data/district?province_id=${province_id}`;
			const token = '6092d580-fde7-11ed-a967-deea53ba3605';

			fetch(url, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'token': token
				}
			})
				.then(response => response.json())
				.then(data => {
					data.data.forEach(district => {
						const option = document.createElement('option');
						option.value = district.DistrictID;
						option.textContent = district.DistrictName;
						districtSelect.appendChild(option);
					});
					districtSelect.dispatchEvent(new Event('change'));
				})
				.catch(error => console.log(error));
		}
		function updateDistrictValue(selectElement) {
			const districtName = selectElement.options[selectElement.selectedIndex].text;
			const districtId = selectElement.value;
			document.getElementById("DistrictName").value = districtName;
			document.getElementById("districtIDCus").value = districtId;
		}
		fetchDistricts();
	</script>
	<script>
		function updateDistrictAndFetchWards() {
			const selectedDistrict = document.getElementById('ListQuanHuyen').value;
			fetchWards(selectedDistrict);
			calculateShippingFee(document.getElementById('ListPhuongXa').value, selectedDistrict);
		}
	</script>
	<script>
		//lấy d/s xã
		function fetchWards(district_id) {
			const wardSelect = document.getElementById('ListPhuongXa');
			wardSelect.innerHTML = '<option value="" disabled selected>Chọn xã / phường</option>';

			const url = `https://online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=${district_id}`;
			const token = '6092d580-fde7-11ed-a967-deea53ba3605';

			fetch(url, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'token': token
				}
			})
				.then(response => response.json())
				.then(data => {
					data.data.forEach(ward => {
						const option = document.createElement('option');
						option.value = ward.WardCode;
						option.textContent = ward.WardName;
						wardSelect.appendChild(option);
					});
					wardSelect.dispatchEvent(new Event('change'));
				})
				.catch(error => console.log(error));
		}
		function updateWardValue(selectElement) {
			const wardName = selectElement.options[selectElement.selectedIndex].text;
			const wardCode = selectElement.value;
			document.getElementById("WardName").value = wardName;
			document.getElementById("wardCodeCus").value = wardCode;
		}
	</script>
	<script>
		// Hàm để cập nhật hình thức vận chuyển
		function updateShippingOptions() {
			// Lấy giá trị từ ListQuanHuyen
			var listQuanHuyen = document.getElementById('ListQuanHuyen');
			var selectedOption = listQuanHuyen.options[listQuanHuyen.selectedIndex];
			var toDistrict = selectedOption.value;
			var toHuyen = parseInt(toDistrict);
			// Gọi API để cập nhật hình thức vận chuyển
			fetch(`https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/available-services?shop_id=4185066&from_district=3440&to_district=${toHuyen}`, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'token': '6092d580-fde7-11ed-a967-deea53ba3605'
				}
			})
				.then(response => response.json())
				.then(data => {
					var shippingMethods = data.data;
					var shippingOptionsDiv = document.getElementById('shippingOptionsDiv');

					// Cập nhật hình thức vận chuyển
					var firstLabel = shippingOptionsDiv.querySelector('.radio-button:nth-child(1)');
					firstLabel.innerHTML = 'Hình thức vận chuyển: ' + shippingMethods[0].short_name;
					firstLabel.style.fontSize = '16px';
					firstLabel.style.fontWeight = 'bold';
					selectedShippingMethodID = shippingMethods[0].service_id;
					// Ẩn dòng thứ hai
					var secondLabel = shippingOptionsDiv.querySelector('.radio-button:nth-child(2)');
					secondLabel.style.display = 'none';
					shippingOptionsDiv.style.display = 'block';
					document.getElementById("shippingMethodID").value = shippingMethods[0].service_id;
				})
				.catch(error => {
					console.error('Error:', error);
				});
		}
		// Sự kiện khi có sự thay đổi ở các textbox chọn địa chỉ hoặc khi trang web được tải lần đầu
		document.getElementById('ListQuanHuyen').addEventListener('change', updateShippingOptions);
		document.getElementById('ListPhuongXa').addEventListener('change', updateShippingOptions);
	</script>
	<script>
		//tính phí vận chuyển
		function calculateShippingFee(to_ward_code, to_district_id) {
			const url = `https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee?service_id=${selectedShippingMethodID}&insurance_value=${1000000}&coupon&to_ward_code=${to_ward_code}&to_district_id=${to_district_id}&from_district_id=3440&weight=${500}&length=38&width=15&height=15`
			const token = '6092d580-fde7-11ed-a967-deea53ba3605';
			const shop_id = '4185066';

			fetch(url, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'token': token,
					'shop_id': shop_id
				}
			})
				.then(response => response.json())
				.then(data => {
					// giá trị cho input
					var shippingFee = data.data.total;
					document.getElementById('shippingCost').value = shippingFee;
				})
				.catch(error => console.log(error));
		}
	</script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/Chart.min.js"></script>
	<script src="~/assets/js/dynamic-pie-chart.js"></script>
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/fullcalendar.js"></script>
	<script src="~/assets/js/jvectormap.min.js"></script>
	<script src="~/assets/js/world-merc.js"></script>
	<script src="~/assets/js/polyfill.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>
</html>
