@model AppData.Models.Bill

@{
    ViewData["Title"] = "DeleteBill";
}

<h1>DeleteBill</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuccessDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuccessDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingVoucherID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingVoucherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseMethodID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseMethodID)
        </dd>
    </dl>
    
    <form asp-action="DeleteBill">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
