@using AppData.Models;
@model IEnumerable<AppData.Models.ShoesDetails>
@{
    ViewData["Title"] = "Home";
    var shoesDetails = ViewBag.shoesList as List<ShoesDetails>;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/css.css">
    <link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <title>Home</title>
    <style>
        .products-preview {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, .8);
            display: none;
            align-items: center;
            justify-content: center;
        }

            .products-preview .preview {
                padding: 2rem;
                text-align: center;
                background: #fff;
                position: relative;
                max-width: 35%;
                width: auto;
                max-height: 40%;
            }

                .products-preview .preview.active {
                    display: inline-block;
                }

                .products-preview .preview img {
                    height: 25rem;
                }

                .products-preview .preview .fa-times {
                    position: absolute;
                    top: 0.1rem;
                    right: 0.5rem;
                    cursor: pointer;
                    color: #444;
                    font-size: 2rem;
                }

                    .products-preview .preview .fa-times:hover {
                        transform: rotate(90deg);
                    }

                .products-preview .preview h3 {
                    color: #444;
                    padding: 1.0rem;
                    font-size: 1.5rem;
                }

                .products-preview .preview p {
                    line-height: 1.5;
                    padding: 0.5rem;
                    font-size: 1.1rem;
                    color: #777;
                }

                .products-preview .preview .price {
                    padding: 0.5rem 0;
                    font-size: 1.2rem;
                    color: black;
                }

                .products-preview .preview .buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;
                }

                    .products-preview .preview .buttons a {
                        flex: 1 1 auto;
                        font-size: 1.4rem;
                        color: #444;
                        border: .1rem solid #444;
                        text-decoration: none;
                        margin-right: 0.3rem; /* Thêm khoảng cách bên phải ở đây */
                    }

                        .products-preview .preview .buttons a.cart {
                            background: #444;
                            color: #fff;
                        }

                            .products-preview .preview .buttons a.cart:hover {
                                background: #111;
                            }

                        .products-preview .preview .buttons a.buy:hover {
                            background: #444;
                            color: #fff;
                        }
        .image-box {
            position: relative;
            margin: auto;
            overflow: hidden;
        }

            .image-box img {
                max-width: 100%;
                transition: all 0.3s;
                display: block;
                width: 100%;
                height: auto;
                transform: scale(1);
            }

            .image-box:hover img {
                transform: scale(1.1);
            }
    </style>
</head>

<body>
    <div class="container-fluid" style="margin-top: 25px;">
        <video style="margin-top: 15px; width:100%; height:100%" class="w-100" autoplay loop muted>
            <source src="~/image/Nike Video M1.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="aaa text-center">
                <img src="~/image/chu1.png" alt="#" class="img-fluid">
                <p class="chu1" style="font-weight: bold;">
                    Runners Help Make Other Runners Faster. Find Your Place in the Pack and Make it Fast.
                </p>
                <div class="text-center mt-3">
                    <button onclick="window.location.href = '@Url.Action("ListProduct", "Home")';" class="btn1 btn-danger text mr-2 px-2" style="width: 65px; height: 33px; border-radius: 25px; color: white; background-color: black;">
                        Shop
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 60px;">
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="tieude1">
            <h3>News</h3>
        </div>
        <div class="row">
            @foreach (var item in shoesDetails.Take(4))
            {
                <div class="col-sm-6 col-md-3 product-item">
                    <div class="image-box">
                        <img src="@Url.Content("~/image/" + item.ImageUrl)" alt="Shoes for you" style="width: 100%;" data-shoes-id="@item.ShoesDetailsId" data-shoes-name="@ViewBag.NameSP[item.ShoesDetailsId]" data-shoes-style="@ViewBag.NameStyle[item.ShoesDetailsId]">
                    </div>
                    <div class="caption">
                        <!-- Your HTML code with inline CSS styles -->
                        <!-- Your HTML code with inline CSS styles -->
                        <h6 style="text-align: center; color: #333; font-size: 16px; font-weight: bold; margin-bottom: 5px;">@ViewBag.NameSP[item.ShoesDetailsId]</h6>
                        <h6 style="text-align: center; color: #333; font-size: 16px; font-weight: bold; margin-bottom: 5px;">@ViewBag.NameStyle[item.ShoesDetailsId]</h6>
                        <p class="price" style="text-align: center; color: red; font-size: 18px; font-weight: bold; margin-top: 5px;">@item.Price.ToString("N0")đ</p>


                    </div>
                </div>
            }

            @foreach (var item in shoesDetails.Skip(4).Take(3))
            {
                <div class="col-sm-6 col-md-4 product-item" style="margin-top:3%;">
                    <div class="image-box">
                        <img src="@Url.Content("~/image/" + item.ImageUrl)" alt="Shoes for you" style="width: 100%;" data-shoes-id="@item.ShoesDetailsId" data-shoes-name="@ViewBag.NameSP[item.ShoesDetailsId]" data-shoes-style="@ViewBag.NameStyle[item.ShoesDetailsId]">
                    </div>
                    <div class="caption">
                        <!-- Your HTML code with inline CSS styles -->
                        <h6 style="text-align: center; color: #333; font-size: 16px; font-weight: bold; margin-bottom: 5px;">@ViewBag.NameSP[item.ShoesDetailsId]</h6>
                        <h6 style="text-align: center; color: #333; font-size: 16px; font-weight: bold; margin-bottom: 5px;">@ViewBag.NameStyle[item.ShoesDetailsId]</h6>
                        <p class="price" style="text-align: center; color: red; font-size: 18px; font-weight: bold; margin-top: 5px;">@item.Price.ToString("N0")đ</p>

                    </div>
                </div>
            }

            <div class="products-preview">
                <div class="preview">
                    <i class="fas fa-times"></i>
                    <img src="" alt="Shoes" class="product-image">
                    <h3 class="product-name"></h3>
                    <p class="product-description" style="margin-top:-5%;"></p>
                    <div class="price product-price" style="margin-top:-3%;"></div>
                    <div class="buttons">
                        <a href="#" class="buy">Favourite</a>
                        <a href="#" class="cart">View Details</a>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const viewDetailsButtons = document.querySelectorAll(".cart");
                    const productImages = document.querySelectorAll(".image-box img");
                    const productPreview = document.querySelector(".products-preview");
                    let hoverTimer;

                    viewDetailsButtons.forEach(button => {
                        button.addEventListener("click", function (event) {
                            const shoesDetailsId = this.value;
                            console.log(shoesDetailsId);
                            // Điều hướng người dùng đến trang chi tiết bằng cách thay đổi URL
                            window.location.href = `/Home/DetailsProduct/${shoesDetailsId}`;
                        });
                    });

                    productImages.forEach(image => {
                        image.addEventListener("mouseenter", function () {
                            const shoesDetailsId = this.getAttribute("data-shoes-id");
                            console.log(shoesDetailsId);
                            const shoesDetailsName = this.getAttribute("data-shoes-name");
                            console.log(shoesDetailsName);
                            const shoesDetailsStyle = this.getAttribute("data-shoes-style");
                            console.log(shoesDetailsStyle);
                            const itemCart = productPreview.querySelector(".cart");

                            // Đặt thời gian trễ trước khi hiển thị popup (ví dụ: 3 giây)
                            hoverTimer = setTimeout(() => {
                                // Gửi yêu cầu GET đến endpoint API để lấy thông tin sản phẩm
                                fetch(`/Home/GetProductInfo?shoesDetailsId=${shoesDetailsId}&shoesDetailsName=${shoesDetailsName}&shoesDetailsStyle=${shoesDetailsStyle}`)
                                    .then(response => response.json())
                                    .then(productInfo => {
                                        // Hiển thị thông tin sản phẩm trong popup
                                        displayProductInfo(productInfo);
                                        itemCart.value = shoesDetailsId;
                                    });
                            }, 2000); // Đặt thời gian trễ (3 giây) trước khi hiển thị

                            // Hủy thời gian trễ nếu người dùng rời chuột ra khỏi ảnh
                            image.addEventListener("mouseleave", function () {
                                clearTimeout(hoverTimer);
                            });
                        });
                    });

                    function displayProductInfo(productInfo) {
                        const previewImage = productPreview.querySelector(".product-image");
                        const previewName = productPreview.querySelector(".product-name");
                        const previewDescription = productPreview.querySelector(".product-description");
                        const previewPrice = productPreview.querySelector(".product-price");

                        previewImage.src = "/image/" + productInfo.imageUrl;
                        previewName.textContent = productInfo.name; // Sử dụng "name" từ JSON
                        previewDescription.textContent = productInfo.description; // Sử dụng "description" từ JSON
                        previewPrice.textContent = productInfo.price.toLocaleString('vi-VN') + "đ"; // Sử dụng "price" từ JSON

                        productPreview.style.display = "flex";
                    }

                    // Đóng popup khi nhấp vào nút "Close"
                    const closePreviewButton = productPreview.querySelector(".fa-times");
                    closePreviewButton.addEventListener("click", function () {
                        productPreview.style.display = "none";
                    });
                });
            </script>
            <h1 class="text-center" style="margin-top: 80px;"><b>FOOTBALL AND YOU</b></h1>
            <div class="container">
                <div class="dalab" style="margin-top: 40px;">
                    <div class="col-md-6 col-6" style="background-image: url('image/anhdz7.png');">
                        <a href="#" style="float: right; padding-top: 10px;">
                            <button class="btn1 btn-danger text mr-2 px-2"
                                    style="width: 100px; height: 33px; border-radius: 25px; color: black; background-color: white; padding-left: 500px; padding-top: 3px;">
                                <p style="padding-left: 3px; font-size: 11px; font-weight: bold;">NIKE X CR7</p>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-6" style="background-image: url('image/anhdz6.png');">
                        <a href="#" style="float: right; padding-top: 10px;">
                            <button class="btn1 btn-danger text mr-2 px-2"
                                    style="width: 60px; height: 33px; border-radius: 25px; color: black; background-color: white; padding-left: 500px; padding-top: 2px;">
                                <p style="padding-left: 3px; font-size: 12px; font-weight: bold;">Sport</p>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-6" style="background-image: url('image/ic-messi-bg.jpg');">
                        <a href="#" style="float: right; padding-top: 10px;">
                            <button class="btn1 btn-danger text mr-2 px-2"
                                    style="width: 120px; height: 33px; border-radius: 25px; color: black; background-color: white; padding-left: 500px; padding-top: 2px;">
                                <p style="padding-left: 3px; font-size: 11px; font-weight: bold;">NIKE X MESSI</p>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-6" style="background-image: url('image/anhdz4.png');">
                        <a href="#" style="float: right; padding-top: 10px;">
                            <button class="btn1 btn-danger text mr-2 px-2"
                                    style="width: 120px; height: 33px; border-radius: 25px; color: black; background-color: white; padding-left: 500px; padding-top: 4px;">
                                <p style="padding-left: 3px; font-size: 9px; font-weight: bold;">LEBRON X LIVERPOOL FC</p>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-6" style="background-image: url('image/anhdz5.png');">
                        <a href="#" style="float: right; padding-top: 10px;">
                            <button class="btn1 btn-danger text mr-2 px-2"
                                    style="width: 100px; height: 33px; border-radius: 25px; color: black; background-color: white; padding-left: 500px; padding-top: 4px;">
                                <p style="padding-left: 3px; font-size: 9px; font-weight: bold;">JORDAN X PSG</p>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 85px;">
        <h6 class="heading">In the Spotlight for 12 months</h6>
    </div>
    <div class="container mt-4 d-flex justify-content-center" style="padding-top: 45px;">
        <div class="row g-0">
            <div class="col-sm-6 col-md-4" style="padding-top: 5px;">
                <div class="cards">
                    <div class="first bg-white p-4 text-center">
                        <img src="~/image/anhgiay8.png" alt="Generic placeholder thumbnail" style="width: 100%;">
                        <h5>Air Jordan 1 Elevate Low</h5>
                        <p class="line1">Women's Shoes</p>
                        <p style="font-size: 13px;">1.999.000đ</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" style="padding-top: 5px;">
                <div class="cards">
                    <div class=" second bg-white p-4 text-center">
                        <img src="~/image/anhgiay9.png" alt="Generic placeholder thumbnail" style="width: 100%;">
                        <h5>Nike Blazer Mid '77 Premium</h5>
                        <p class="line2">Men's Shoes</p>
                        <p style="font-size: 13px;">4.400.000đ</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" style="padding-top: 5px;">
                <div class="cards">
                    <div class=" third bg-white p-4 text-center">
                        <img src="~/image/anhgiay10.png" alt="Generic placeholder thumbnail" style="width: 100%;">
                        <h5>Nike Air Force 1 '07 Premium</h5>
                        <p class="line3">WMen's Shoes</p>
                        <p style="font-size: 13px;">3,519,000₫</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="slideshow1" style="margin-top: 40px;">
        <div class="slide-wrapper1">
            <div class="slide1">
                <img src="~/image/79cf6b2d-1216-4d22-a3cd-e9fca50ddebe.png" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</body>

</html>