@model IEnumerable<AppData.Models.ShoesDetails>
@{
	ViewData["Title"] = "Search";
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="~/css/sanpham.css">
	<link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
	<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
	<title>Product</title>
</head>

<body>
	<section id="sidebar" style="float: left" ;>
		<div class="border-bottom pb-2 ml-2">
			<h4 id="burgundy">Bộ lọc</h4>
		</div>
		<div class="py-2 border-bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Giới tính</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="form-group">
					<input type="checkbox" id="artisan">
					<label for="artisan">Nam</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="breakfast">
					<label for="breakfast">Nữ</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="healthy">
					<label for="healthy">Unisex</label>
				</div>
			</form>
		</div>
		<div class="py-2 border-bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Kids</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="form-group">
					<input type="checkbox" id="tea">
					<label for="tea">Boys</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="cookies">
					<label for="cookies">Girls</label>
				</div>
			</form>
		</div>
		<div class="py-2 ml-3 bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Khoảng giá</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="form-group">
					<input type="checkbox" id="25off">
					<label for="25">Dưới 1.000.000đ</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">1.001.00đ-2.700.000</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">2.701.000-3.999.000</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Trên 4.000.000đ</label>
				</div>
			</form>
		</div>
		<hr>
		<div class="py-2 ml-3 bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Brand</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="form-group">
					<input type="checkbox" id="25off">
					<label for="25">Nike Sportswear</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Jordan</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Nike by you</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">ACG</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Nike Pro</label>
				</div>
			</form>
		</div>
		<hr>
		<div class="py-2 ml-3 bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Sports</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="form-group">
					<input type="checkbox" id="25off">
					<label for="25">Lifestyle</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Running</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Training & Gym</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Basketball</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Football</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Yoga</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Golf</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Tenis</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Football</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="5off">
					<label for="5off" id="off">Dance</label>
				</div>
			</form>
		</div>
		<hr>
		<div class="py-2 ml-3 bottom ml-3" style="margin-top: 25px;">
			<h6 class="font-weight-bold">Màu sắc</h6>
			<div id="orange"><span class="fa fa-minus"></span></div>
			<form style="padding-top: 10px;">
				<div class="" style="float: left;">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: rgb(205, 9, 9); border-radius: 50%;">
					<p style="font-size: 11px; padding-left: 5px;">Đỏ</p>
				</div>
				<div class="" style="float: left; padding-left: 10px;">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: black; border-radius: 50%;">
					<p style="font-size: 11px; padding-left: 5px;">Đen</p>
				</div>
				<div class="" style="float: left; padding-left: 10px;">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: orange; border-radius: 50%;">
					<p style="font-size: 11px; padding-left: 5px;">Vàng</p>
				</div>
				<div class="" style="float: left; padding-left: 10px;">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: violet; border-radius: 50%;">
					<p style="font-size: 11px; padding-left: 5px;">Tím</p>
				</div>
				<br>
				<div class="" style="float: right; padding-top: 15px; padding-right: 69px;">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: green; border-radius: 50%;">
					<p style="font-size: 11px; padding-left: 5px;">Xanh</p>
				</div>
				<div class="" style="float: right; padding-right: 7px; padding-top: 15px">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: white; border-radius: 50%; border: 1px solid rgb(120, 117, 117);">
					<p style="font-size: 11px; padding-left: 5px;">Trắng</p>
				</div>
				<div class="" style="float: right; padding-right: 8px; padding-top: 15px">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: rgb(255, 85, 23); border-radius: 50%; border: 1px solid rgb(120, 117, 117);">
					<p style="font-size: 11px; padding-left: 5px;">Cam</p>
				</div>
				<div class="" style="float: right; padding-right: 9px; padding-top: 15px">
					<input type="button"
						   style="width: 25px; height: 25px; background-color: brown; border-radius: 50%; border: 1px solid rgb(120, 117, 117);">
					<p style="font-size: 11px; padding-left: 5px;">Nâu</p>
				</div>
			</form>
		</div>
	</section>
	<!-- products section -->
	<div id="product-list">
		<!-- Nội dung sản phẩm sẽ được tải lên tại đây -->
		@if (Model.Count() == 0)
		{
			<h2 style="text-align:center; padding-top:50px;">Không tìm thấy sản phẩm cho "@ViewBag.NameSP"</h2>
		}
		else
		{
			<section id="products" style="float: right">
				<div class="container mt-4 d-flex justify-content-center" style="padding-top: 15px;">
					<div class="row g-0">
						@foreach (var item in Model)
						{
							<div class="col-sm-6 col-md-4" style="padding-top: 5px;">
								<div class="cards">
									<div class="first bg-white p-4 text-center">
										<a href="@Url.Action("DetailsProduct", "Home", new { id = item.ShoesDetailsId })"><img src="@Url.Content("~/image/" + item.ImageUrl)" style="width: 100%;"></a>
										<h5 class="line1" style="padding-top:5px;">@ViewBag.NameSP</h5>
										<p class="line1">@Html.DisplayFor(modelItem => item.Description)</p>
										<p style="font-size: 13px;">@item.Price.ToString("N0")đ</p>
										<button class="btnok">Thêm vào giỏ hàng</button>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</section>
		}
	</div>
	<footer class="footer" style="margin-top: 200px;">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: white; color: white;">
			© 2022
			<a class="text-white" href="#" style="text-decoration: none;">
				Nike, Inc. All Rights
				Reserved - PH24890
			</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- <footer class="footer">My footer</footer> -->
	<script>
		$(document).ready(function () {
			var timeout = null;
			$('#search-input').on('keyup', function () {
				clearTimeout(timeout);
				var name = $(this).val();
				if (name) {
					timeout = setTimeout(function () {
						var url = '/Home/Search?name=' + name;
						window.location.href = url;
					}, 1000); // Để ng dùng nhập vào 1s rồi mới load
				}
			});
		});
	</script>
</body>

</html>