@model IEnumerable<AppData.Models.Role>

@{
    ViewData["Title"] = "GetAllRole";
}

<h1>GetAllRole</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                
                @Html.ActionLink("Edit", "Edit", new {  id=item.RoleID  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.RoleID  }) | 
                @Html.ActionLink("Delete", "Delete", new {  id=item.RoleID  })
            </td>
        </tr>
}
    </tbody>
</table>