@model IEnumerable<AppData.Models.Color>

@{
    ViewData["Title"] = "GetAllColor";
}

<h1>GetAllColor</h1>

<p>
    <a asp-action="CreateColor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditColor", new {  id=item.ColorID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ColorID }) |
                @Html.ActionLink("Delete", "DeleteColor", new { id=item.ColorID})
            </td>
        </tr>
}
    </tbody>
</table>
