@model List<AppView.Models.DashBoardViewModel.tablesViewModel>
@{

	Layout = null;
	var stt = 1;
}
@inject IHttpContextAccessor HttpContextAccessor
@{
	var objAdmin = HttpContextAccessor.HttpContext.Session.GetString("EmployeeID");
	var objAdminName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
	var objAdminImg = HttpContextAccessor.HttpContext.Session.GetString("UserImage");
	var objAdminEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
	int recordsPerPage1 = 0, startIndex1 = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon" />
	<title>Quản lí đơn hàng</title>

	<!-- ========== All CSS files linkup ========= -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/assets/css/lineicons.css" />
	<link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="~/assets/css/fullcalendar.css" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<!-- Thêm thư viện phân trang -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js" integrity="sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js" integrity="sha512-uzuo1GprrBscZGr+iQSv8+YQQsKY+rSHJju0FruVsGHV2CZNZPymW/4RkxoHxAxw3Lo5UQaxDMF8zINUfAsGeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<style>
		.search {
			width: 60%;
			position: relative;
			box-shadow: 0 0 40px rgba(51, 51, 51, .1);
			margin-top: 3%;
			margin-left: 4.5%;
		}

			.search input {
				height: 60px;
				text-indent: 25px;
				border: 2px solid #d6d4d4;
			}

				.search input:focus {
					box-shadow: none;
					border: 2px solid blue;
				}

			.search .fa-search {
				position: absolute;
				top: 20px;
				left: 16px;
			}

			.search button {
				position: absolute;
				top: 5px;
				right: 5px;
				height: 50px;
				width: 110px;
				background: blue;
			}

		.datetimepicker {
			display: inline-flex;
			align-items: center;
			background-color: #fff;
			border: 2px solid black;
			border-radius: 8px;
			&:focus-within

		{
			border-color: teal;
		}

		input {
			font: inherit;
			color: inherit;
			appearance: none;
			outline: none;
			border: 0;
			background-color: transparent;
			&[type=date]

		{
			width: 10rem;
			padding: .25rem 0 .25rem .5rem;
			border-right-width: 0;
		}

		&[type=time] {
			width: 5.5rem;
			padding: .25rem .5rem .25rem 0;
			border-left-width: 0;
		}

		}

		span {
			height: 1rem;
			margin-right: .25rem;
			margin-left: .25rem;
			border-right: 1px solid #ddd;
		}

		.dropdown-toggle {
			width: 200px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 40px;
			border: 2px solid black;
			font-weight: 600;
		}

			.dropdown-toggle:focus {
				box-shadow: none !important;
			}


			.dropdown-toggle::after {
				display: none;
			}

		.dropdown-menu {
			width: 200px;
			border: 2px solid black;
			padding: 0rem 0;
			transform: translate3d(0px, 50px, 0px) !important;
		}

		.dropdown-item:focus, .dropdown-item:hover {
			color: black;
			background-color: white;
			padding: 12px;
		}

		.dropdown-item {
			display: block;
			width: 100%;
			padding: 12px;
		}
	</style>
</head>
<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<div class="spinner"></div>
	</div>
	<!-- ======== Preloader =========== -->
	<!-- ======== sidebar-nav start =========== -->
	<aside class="sidebar-nav-wrapper">
		<div class="navbar-logo">
			<a href="@Url.Action("index", "DashBoard")">
				<img src="~/image/anhlogo234.png" alt="logo" width=180px height=70px />
			</a>
		</div>
		<nav class="sidebar-nav">
			<ul>
				<li class="nav-item nav-item-has-children">
					<a href="#0"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_1"
					   aria-controls="ddmenu_1"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.74999 18.3333C12.2376 18.3333 15.1364 15.8128 15.7244 12.4941C15.8448 11.8143 15.2737 11.25 14.5833 11.25H9.99999C9.30966 11.25 8.74999 10.6903 8.74999 10V5.41666C8.74999 4.7263 8.18563 4.15512 7.50586 4.27556C4.18711 4.86357 1.66666 7.76243 1.66666 11.25C1.66666 15.162 4.83797 18.3333 8.74999 18.3333Z" />
								<path d="M17.0833 10C17.7737 10 18.3432 9.43708 18.2408 8.75433C17.7005 5.14918 14.8508 2.29947 11.2457 1.75912C10.5629 1.6568 10 2.2263 10 2.91665V9.16666C10 9.62691 10.3731 10 10.8333 10H17.0833Z" />
							</svg>
						</span>
						<span class="text">Thống kê</span>
					</a>
					<ul id="ddmenu_1" class="collapse show dropdown-nav">
						<li>
							<a href="@Url.Action("index", "DashBoard")" class="active"> Thống kê </a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="@Url.Action("tables", "DashBoard")">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.66666 4.16667C1.66666 3.24619 2.41285 2.5 3.33332 2.5H16.6667C17.5872 2.5 18.3333 3.24619 18.3333 4.16667V9.16667C18.3333 10.0872 17.5872 10.8333 16.6667 10.8333H3.33332C2.41285 10.8333 1.66666 10.0872 1.66666 9.16667V4.16667Z" />
								<path d="M1.875 13.75C1.875 13.4048 2.15483 13.125 2.5 13.125H17.5C17.8452 13.125 18.125 13.4048 18.125 13.75C18.125 14.0952 17.8452 14.375 17.5 14.375H2.5C2.15483 14.375 1.875 14.0952 1.875 13.75Z" />
								<path d="M2.5 16.875C2.15483 16.875 1.875 17.1548 1.875 17.5C1.875 17.8452 2.15483 18.125 2.5 18.125H17.5C17.8452 18.125 18.125 17.8452 18.125 17.5C18.125 17.1548 17.8452 16.875 17.5 16.875H2.5Z" />
							</svg>
						</span>
						<span class="text">Quản lí hóa đơn</span>
					</a>
				</li>
				<li class="nav-item nav-item-has-children">
					<a href="#0"
					   class="collapsed"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_2"
					   aria-controls="ddmenu_2"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.8097 1.66667C11.8315 1.66667 11.8533 1.6671 11.875 1.66796V4.16667C11.875 5.43232 12.901 6.45834 14.1667 6.45834H16.6654C16.6663 6.48007 16.6667 6.50186 16.6667 6.5237V16.6667C16.6667 17.5872 15.9205 18.3333 15 18.3333H5.00001C4.07954 18.3333 3.33334 17.5872 3.33334 16.6667V3.33334C3.33334 2.41286 4.07954 1.66667 5.00001 1.66667H11.8097ZM6.66668 7.70834C6.3215 7.70834 6.04168 7.98816 6.04168 8.33334C6.04168 8.67851 6.3215 8.95834 6.66668 8.95834H10C10.3452 8.95834 10.625 8.67851 10.625 8.33334C10.625 7.98816 10.3452 7.70834 10 7.70834H6.66668ZM6.04168 11.6667C6.04168 12.0118 6.3215 12.2917 6.66668 12.2917H13.3333C13.6785 12.2917 13.9583 12.0118 13.9583 11.6667C13.9583 11.3215 13.6785 11.0417 13.3333 11.0417H6.66668C6.3215 11.0417 6.04168 11.3215 6.04168 11.6667ZM6.66668 14.375C6.3215 14.375 6.04168 14.6548 6.04168 15C6.04168 15.3452 6.3215 15.625 6.66668 15.625H13.3333C13.6785 15.625 13.9583 15.3452 13.9583 15C13.9583 14.6548 13.6785 14.375 13.3333 14.375H6.66668Z" />
								<path d="M13.125 2.29167L16.0417 5.20834H14.1667C13.5913 5.20834 13.125 4.74197 13.125 4.16667V2.29167Z" />
							</svg>
						</span>
						<span class="text">Quản lý tài khoản</span>
					</a>
					<ul id="ddmenu_2" class="collapse dropdown-nav">
						<li>
							<a href="@Url.Action("listEmployee", "DashBoard")"> Nhân viên </a>
						</li>
						<li>
							<a asp-controller="Customers" asp-action="GetAllCustomer"> Khách hàng </a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="@Url.Action("GetAllVouchers", "Voucher")">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.66666 4.16667C1.66666 3.24619 2.41285 2.5 3.33332 2.5H16.6667C17.5872 2.5 18.3333 3.24619 18.3333 4.16667V9.16667C18.3333 10.0872 17.5872 10.8333 16.6667 10.8333H3.33332C2.41285 10.8333 1.66666 10.0872 1.66666 9.16667V4.16667Z" />
								<path d="M1.875 13.75C1.875 13.4048 2.15483 13.125 2.5 13.125H17.5C17.8452 13.125 18.125 13.4048 18.125 13.75C18.125 14.0952 17.8452 14.375 17.5 14.375H2.5C2.15483 14.375 1.875 14.0952 1.875 13.75Z" />
								<path d="M2.5 16.875C2.15483 16.875 1.875 17.1548 1.875 17.5C1.875 17.8452 2.15483 18.125 2.5 18.125H17.5C17.8452 18.125 18.125 17.8452 18.125 17.5C18.125 17.1548 17.8452 16.875 17.5 16.875H2.5Z" />
							</svg>
						</span>
						<span class="text">Quản lí vouchers</span>
					</a>
				</li>
				<li class="nav-item nav-item-has-children">
					<a href="#0"
					   class="collapsed"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_3"
					   aria-controls="ddmenu_3"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14.9211 10.1294C15.1652 9.88534 15.1652 9.48967 14.9211 9.24559L10.7544 5.0789C10.5103 4.83482 10.1147 4.83482 9.87057 5.0789C9.62649 5.32297 9.62649 5.71871 9.87057 5.96278L12.9702 9.06251H1.97916C1.63398 9.06251 1.35416 9.34234 1.35416 9.68751C1.35416 10.0327 1.63398 10.3125 1.97916 10.3125H12.9702L9.87057 13.4123C9.62649 13.6563 9.62649 14.052 9.87057 14.2961C10.1147 14.5402 10.5103 14.5402 10.7544 14.2961L14.9211 10.1294Z" />
								<path d="M11.6383 15.18L15.805 11.0133C16.5373 10.2811 16.5373 9.09391 15.805 8.36166L11.6383 4.195C11.2722 3.82888 10.7923 3.64582 10.3125 3.64582V3.02082C10.3125 2.10035 11.0587 1.35416 11.9792 1.35416H16.9792C17.8997 1.35416 18.6458 2.10035 18.6458 3.02082V16.3542C18.6458 17.2747 17.8997 18.0208 16.9792 18.0208H11.9792C11.0587 18.0208 10.3125 17.2747 10.3125 16.3542V15.7292C10.7923 15.7292 11.2722 15.5461 11.6383 15.18Z" />
							</svg>
						</span>
						<span class="text">Auth</span>
					</a>
					<ul id="ddmenu_3" class="collapse dropdown-nav">
						<li>
							<a asp-controller="Employee" asp-action="LogOut"> Log out </a>
						</li>
						@*<li>
						<a href="signup.html"> Sign Up </a>
						</li>*@
					</ul>
				</li>
				<span class="divider"><hr /></span>
				<li class="nav-item nav-item-has-children">
					<a href="#0"
					   class="collapsed"
					   data-bs-toggle="collapse"
					   data-bs-target="#ddmenu_5"
					   aria-controls="ddmenu_5"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.16666 3.33335C4.16666 2.41288 4.91285 1.66669 5.83332 1.66669H14.1667C15.0872 1.66669 15.8333 2.41288 15.8333 3.33335V16.6667C15.8333 17.5872 15.0872 18.3334 14.1667 18.3334H5.83332C4.91285 18.3334 4.16666 17.5872 4.16666 16.6667V3.33335ZM6.04166 5.00002C6.04166 5.3452 6.32148 5.62502 6.66666 5.62502H13.3333C13.6785 5.62502 13.9583 5.3452 13.9583 5.00002C13.9583 4.65485 13.6785 4.37502 13.3333 4.37502H6.66666C6.32148 4.37502 6.04166 4.65485 6.04166 5.00002ZM6.66666 6.87502C6.32148 6.87502 6.04166 7.15485 6.04166 7.50002C6.04166 7.8452 6.32148 8.12502 6.66666 8.12502H13.3333C13.6785 8.12502 13.9583 7.8452 13.9583 7.50002C13.9583 7.15485 13.6785 6.87502 13.3333 6.87502H6.66666ZM6.04166 10C6.04166 10.3452 6.32148 10.625 6.66666 10.625H9.99999C10.3452 10.625 10.625 10.3452 10.625 10C10.625 9.65485 10.3452 9.37502 9.99999 9.37502H6.66666C6.32148 9.37502 6.04166 9.65485 6.04166 10ZM9.99999 16.6667C10.9205 16.6667 11.6667 15.9205 11.6667 15C11.6667 14.0795 10.9205 13.3334 9.99999 13.3334C9.07949 13.3334 8.33332 14.0795 8.33332 15C8.33332 15.9205 9.07949 16.6667 9.99999 16.6667Z" />
							</svg>
						</span>
						<span class="text"> Tables </span>
					</a>
					<ul id="ddmenu_5" class="collapse dropdown-nav">
						<li>
							<a href="@Url.Action("GetAllAddress", "Addresss")"> Address </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllBill", "Bill")"> Bill </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllColor", "Colors")"> Color </a>
						</li>
						@*	<li>
						<a href="@Url.Action("GetAllCustomer", "Customer")"> Customer </a>
						</li>*@
						<li>
							<a href="@Url.Action("GetAllEmployee", "Employees")"> Employee </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllImge", "Image")"> Image </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllMaterials", "Materials")"> Material </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllProduct", "Products")"> Product </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllPu", "PuchaseMethod")"> PuchaseMethod </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllRanks", "Ranks")"> Rank </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllRole", "Role")"> Role </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllShoesDetails", "ShoesDetail")"> ShoesDetail </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllShoesDetails_Size", "ShoesDetails_Sizes")"> ShoesDetails - Size </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllSize", "Sizes")"> Size </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllSole", "Soles")"> Sole </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllStyles", "Styles")"> Style </a>
						</li>
						<li>
							<a href="@Url.Action("GetAllSuppliers", "Suppliers")"> Supplier </a>
						</li>
						@*	<li>
						<a href="@Url.Action("GetAllVouchers", "Voucher")"> Voucher </a>
						</li>*@
					</ul>
				</li>
				<span class="divider"><hr /></span>





				<li class="nav-item">
					<a href="notification.html">
						<span class="icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.8333 2.50008C10.8333 2.03984 10.4602 1.66675 9.99999 1.66675C9.53975 1.66675 9.16666 2.03984 9.16666 2.50008C9.16666 2.96032 9.53975 3.33341 9.99999 3.33341C10.4602 3.33341 10.8333 2.96032 10.8333 2.50008Z" />
								<path d="M17.5 5.41673C17.5 7.02756 16.1942 8.33339 14.5833 8.33339C12.9725 8.33339 11.6667 7.02756 11.6667 5.41673C11.6667 3.80589 12.9725 2.50006 14.5833 2.50006C16.1942 2.50006 17.5 3.80589 17.5 5.41673Z" />
								<path d="M11.4272 2.69637C10.9734 2.56848 10.4947 2.50006 10 2.50006C7.10054 2.50006 4.75003 4.85057 4.75003 7.75006V9.20873C4.75003 9.72814 4.62082 10.2393 4.37404 10.6963L3.36705 12.5611C2.89938 13.4272 3.26806 14.5081 4.16749 14.9078C7.88074 16.5581 12.1193 16.5581 15.8326 14.9078C16.732 14.5081 17.1007 13.4272 16.633 12.5611L15.626 10.6963C15.43 10.3333 15.3081 9.93606 15.2663 9.52773C15.0441 9.56431 14.8159 9.58339 14.5833 9.58339C12.2822 9.58339 10.4167 7.71791 10.4167 5.41673C10.4167 4.37705 10.7975 3.42631 11.4272 2.69637Z" />
								<path d="M7.48901 17.1925C8.10004 17.8918 8.99841 18.3335 10 18.3335C11.0016 18.3335 11.9 17.8918 12.511 17.1925C10.8482 17.4634 9.15183 17.4634 7.48901 17.1925Z" />
							</svg>
						</span>
						<span class="text">Notifications</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>
	<div class="overlay"></div>
	<!-- ======== sidebar-nav end =========== -->
	<!-- ======== main-wrapper start =========== -->
	<main class="main-wrapper">
		<!-- ========== header start ========== -->
		<header class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-6">
						<div class="header-left d-flex align-items-center">
							<div class="menu-toggle-btn mr-15">
								<button id="menu-toggle" class="main-btn primary-btn btn-hover">
									<i class="lni lni-chevron-left me-2"></i> Menu
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-6">
						<div class="header-right">
							<!-- profile start -->
							<div class="profile-box ml-15">
								<button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
										data-bs-toggle="dropdown" aria-expanded="false">
									<div class="profile-info">
										<div class="info">
											<div class="image">
												<img src="/image/@Html.Raw(objAdminImg?.Replace("\"", ""))" alt="Admin" style="height:100%;" />
											</div>
											<div>
												<h6 class="fw-500">@Html.Raw(objAdminName?.Replace("\"", ""))</h6>
												<p>Admin</p>
											</div>
										</div>
									</div>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
									<li>
										<div class="author-info flex items-center !p-1">
											<div class="image">
												<img src="/image/@Html.Raw(objAdminImg?.Replace("\"", ""))" alt="image">
											</div>
											<div class="content">
												<h4 class="text-sm">@Html.Raw(objAdminName?.Replace("\"", ""))</h4>
												<a class="text-black/40 dark:text-white/40 hover:text-black dark:hover:text-white text-xs" href="#">@Html.Raw(objAdminEmail?.Replace("\"", ""))</a>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#0">
											<i class="lni lni-user"></i> View Profile
										</a>
									</li>
									<li>
										<a href="#0">
											<i class="lni lni-alarm"></i> Notifications
										</a>
									</li>
									<li>
										<a href="#0"> <i class="lni lni-inbox"></i> Messages </a>
									</li>
									<li>
										<a href="#0"> <i class="lni lni-cog"></i> Settings </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#0"> <i class="lni lni-exit"></i> Sign Out </a>
									</li>
								</ul>
							</div>
							<!-- profile end -->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- ========== header end ========== -->
		<!-- ========== table components start ========== -->
		<section class="table-components">
			<form method="get" id="searchForm" class="search-bar" style="align-content:center;" action="@Url.Action("findTables")">
				<div class="row height d-flex justify-content-left align-items-left">
					<div class="col-md-8">
						<div class="search">
							<i class="fa fa-search"></i>
							<input type="text" id="searchInput" class="form-control" name="billCode" placeholder="Tìm kiếm...">
							<button type="button" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</form>
			<form method="get" style="margin-top:2.5%; margin-left:3%;" action="@Url.Action("searchByDate")">
				<span>Từ ngày:</span>
				<div class="datetimepicker date-start">
					<input type="date" id="date" value="" name="startDate">
				</div>
				<span style="margin-left:2%;">Đến ngày:</span>
				<div class="datetimepicker date-end">
					<input type="date" id="date" value="" name="endDate">
				</div>
			</form>
			<form method="get" action="@Url.Action("Filter")" style="float:right; margin-top:-3%; margin-right:3%;">
				<div style="display:flex;">
					<div class="dropdown" style="margin-right:2%;">
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Trạng thái
						</button>
						<ul class="dropdown-menu" id="statusDropdown" style="cursor:pointer;">
							<li><a class="dropdown-item" data-value="8">Tất cả</a></li>
							<li><a class="dropdown-item" data-value="0">Chờ xác nhận</a></li>
							<li><a class="dropdown-item" data-value="1">Đã xác nhận thông tin</a></li>
							<li><a class="dropdown-item" data-value="2">Đang vận chuyển</a></li>
							<li><a class="dropdown-item" data-value="3">Giao hàng thành công</a></li>
							<li><a class="dropdown-item" data-value="6">Hoàn trả</a></li>
							<li><a class="dropdown-item" data-value="4">Đã hủy</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Sắp xếp
						</button>
						<ul class="dropdown-menu" id="sortDropdown" style="cursor:pointer;">
							<li><a class="dropdown-item" data-value="8">Mặc định</a></li>
							<li><a class="dropdown-item" data-value="0">Mới nhất</a></li>
							<li><a class="dropdown-item" data-value="1">Cũ nhất</a></li>
							<li><a class="dropdown-item" data-value="2">Giá trị giảm dần</a></li>
							<li><a class="dropdown-item" data-value="3">Gía trị tăng dần</a></li>
						</ul>
					</div>
				</div>
			</form>
			<script>
				$(document).ready(function () {
					// Set giá trị mặc định cho dropdown "Trạng thái"
					$("#statusDropdown a[data-value='8']").addClass("selected"); // Đặt class cho phần tử mặc định

					// Set giá trị mặc định cho dropdown "Sắp xếp"
					$("#sortDropdown a[data-value='8']").addClass("selected"); // Đặt class cho phần tử mặc định

					// Set giá trị mặc định cho ngày bắt đầu và kết thúc
					var defaultStartDate = new Date("2023-01-01").toISOString().split('T')[0];
					// Lấy ngày hiện tại
					var currentDate = new Date();
					// Thêm 1 ngày
					currentDate.setDate(currentDate.getDate() + 1);
					// Định dạng ngày mới
					var formattedDate = currentDate.toISOString().split('T')[0];
					$("input[name='startDate']").val(defaultStartDate);
					$("input[name='endDate']").val(formattedDate);

					// Gọi hàm filterData khi trang được tải lần đầu tiên
					// filterData();
				});

				// Bắt sự kiện click trên các phần tử của dropdown "Trạng thái"
				$("#statusDropdown a").click(function () {
					$("#statusDropdown a").removeClass("selected"); // Xóa class "selected" trên tất cả các phần tử
					$(this).addClass("selected"); // Thêm class "selected" cho phần tử được chọn
					filterData();
				});

				// Bắt sự kiện click trên các phần tử của dropdown "Sắp xếp"
				$("#sortDropdown a").click(function () {
					$("#sortDropdown a").removeClass("selected"); // Xóa class "selected" trên tất cả các phần tử
					$(this).addClass("selected"); // Thêm class "selected" cho phần tử được chọn
					filterData();
				});

				// Hàm để lọc dữ liệu
				function filterData() {
					// Lấy giá trị đang được chọn trong dropdown "Trạng thái"
					var selectedStatus = $("#statusDropdown a.selected").data("value");

					// Lấy giá trị đang được chọn trong dropdown "Sắp xếp"
					var selectedSort = $("#sortDropdown a.selected").data("value");

					// Lấy giá trị ngày tháng từ input "Từ ngày" và "Đến ngày"
					var startDateValue = $("input[name='startDate']").val();
					var endDateValue = $("input[name='endDate']").val();

					// Gửi Ajax Request để lọc và hiển thị dữ liệu dựa trên các giá trị đã chọn
					$.ajax({
						type: "GET",
						url: '@Url.Action("Filter")',
						data: {
							nameStatus: selectedStatus,
							priceNewOld: selectedSort,
							startDate: startDateValue,
							endDate: endDateValue
						},
						success: function (response) {
							// Xử lý dữ liệu trả về và cập nhật nội dung hiển thị
							updateDisplay(response);
						},
						error: function (error) {
							console.log("Error:", error);
						}
					});
				}

				// Hàm để cập nhật nội dung hiển thị
				function updateDisplay(data) {
					// Xóa nội dung hiện tại (nếu cần)
					$("#resultContainer").empty();

					// Thêm hoặc cập nhật nội dung hiển thị
					$.each(data, function (index, bill) {
						var rowHtml = '<tr>' +
							'<td class="min-width"><p>' + (index + 1) + '</p></td>' +
							'<td class="min-width"><p>' + bill.billCode + '</p></td>' +
							'<td class="min-width"><p>' + bill.totalShoes + '</p></td>' +
							'<td class="min-width"><p style="color:red;">' + formatCurrency(bill.price) + '</p></td>' +
							'<td class="min-width"><p>' + bill.fullNameCus + '</p></td>' +
							'<td class="min-width"><p>' + bill.phoneNumber + '</p></td>' +
							'<td class="min-width"><p>' + formatDateTime(bill.createDate) + '</p></td>' +
							'<td class="min-width"><p class="main-btn secondary-btn-light rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">' + bill.purchasePayMent + '</p></td>' +
							'<td class="min-width">' + getStatusLabel(bill.status) + '</td>' +
							'<td>' +
							'<div class="action">' +
							'<a href="' + '@Url.Action("DetailsBill", "Bill")?billID=' + bill.billID + '&customerID=' + bill.customerID + '" class="text-danger">' +
							'<i class="lni lni-eye"></i>' +
							'</a>' +
							'</div>' +
							'</td>' +
							'</tr>';
						$("#resultContainer").append(rowHtml);
					});
				}
			</script>
			<script>
				$(document).ready(function () {
					// Bắt sự kiện khi người dùng click vào "Đến ngày"
					$("input[name='endDate']").on("change", function () {
						// Lấy giá trị của "Từ ngày" và "Đến ngày"
						var startDateValue = $("input[name='startDate']").val();
						var endDateValue = $(this).val(); // Lấy giá trị của "Đến ngày"

						// Gửi Ajax Request để hiển thị dữ liệu
						$.ajax({
							type: "GET",
							url: '@Url.Action("searchByDate")',
							data: { startDate: startDateValue, endDate: endDateValue },
							success: function (response) {
								console.log(response);
								// Xử lý dữ liệu trả về và cập nhật nội dung hiển thị
								// updateDisplay(response);
							},
							error: function (error) {
								console.log("Error:", error);
							}
						});
					});
				});

				function updateDisplay(data) {
					// Xóa nội dung hiện tại (nếu cần)
					$("#resultContainer").empty();

					function formatCurrency(value) {
						// Định dạng giá
						return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
					}

					function formatDateTime(date) {
						const options = { hour: 'numeric', minute: 'numeric', day: 'numeric', month: 'numeric', year: 'numeric' };
						const formattedDate = new Date(date).toLocaleString('vi-VN', options);

						return formattedDate;
					}
					// Thêm hoặc cập nhật nội dung hiển thị
					$.each(data, function (index, bill) {
						console.log('index', index);
						console.log('bill', bill);
						var rowHtml = '<tr>' +
							'<td class="min-width"><p>' + (index + 1) + '</p></td>' +
							'<td class="min-width"><p>' + bill.billCode + '</p></td>' +
							'<td class="min-width"><p>' + bill.totalShoes + '</p></td>' +
							'<td class="min-width"><p style="color:red;">' + formatCurrency(bill.price) + '</p></td>' +
							'<td class="min-width"><p>' + bill.fullNameCus + '</p></td>' +
							'<td class="min-width"><p>' + bill.phoneNumber + '</p></td>' +
							'<td class="min-width"><p>' + formatDateTime(bill.createDate) + '</p></td>' +
							'<td class="min-width"><p class="main-btn secondary-btn-light rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">' + bill.purchasePayMent + '</p></td>' +
							'<td class="min-width">' + getStatusLabel(bill.status) + '</td>' +
							'<td>' +
							'<div class="action">' +
							'<a href="' + '@Url.Action("DetailsBill", "Bill")?billID=' + bill.billID + '&customerID=' + bill.customerID + '" class="text-danger">' +
							'<i class="lni lni-eye"></i>' +
							'</a>' +
							'</div>' +
							'</td>' +
							'</tr>';
						$("#resultContainer").append(rowHtml);
					});
				}

				function getStatusLabel(status) {
					switch (status) {
						case 0:
							return '<span class="main-btn secondary-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Chờ xác nhận</span>';
						case 1:
							return '<span class="main-btn primary-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã xác nhận thông tin</span>';
						case 2:
							return '<span class="main-btn warning-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã bàn giao cho ĐVVC</span>';
						case 3:
							return '<span class="main-btn info-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã nhận được hàng</span>';
						case 4:
							return '<span class="main-btn danger-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã hủy đơn</span>';
						case 6:
							return '<span class="main-btn light-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Hoàn trả</span>';
						default:
							return '';
					}
				}
			</script>
			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title" style="float:left;">
								<h2>Danh sách đơn hàng</h2>
							</div>
						</div>
						<!-- end col -->
						<div class="col-md-6">
							<div class="breadcrumb-wrapper">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#0">Dashboard</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Tables
										</li>
									</ol>
								</nav>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- ========== title-wrapper end ========== -->
				<!-- ========== tables-wrapper start ========== -->
				<div class="tables-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="card-style mb-30">
								<div class="table-wrapper table-responsive">
									@if (Model.Any())
									{
										<table id="myTalble" class="table">
											<thead>
												<tr>
													<th>
														<h6>STT</h6>
													</th>
													<th>
														<h6 style="padding-left:5%;">Mã đơn hàng</h6>
													</th>
													<th>
														<h6>Tổng số <br /> sản phẩm</h6>
													</th>
													<th>
														<h6 style="padding-left:5%;">Tổng số tiền</h6>
													</th>
													<th>
														<h6>Tên khách hàng</h6>
													</th>
													<th>
														<h6>Số điện thoại</h6>
													</th>
													<th>
														<h6>Thời gian đặt hàng</h6>
													</th>
													<th>
														<h6>Phương thức thanh toán</h6>
													</th>
													<th>
														<h6>Trạng thái đơn hàng</h6>
													</th>
													<th>
														<h6>Hành động</h6>
													</th>
												</tr>
												<!-- end table row-->
											</thead>
											<tbody id="resultContainer">
												@foreach (var bill in Model.OrderBy(c => c.BillCode))
												{
													<tr style="margin-top:5%; margin-bottom:5%">
														<td class="min-width">
															<p>@stt</p>
														</td>
														<td class="min-width">
															<p>@bill.BillCode</p>
														</td>
														<td class="min-width">
															<p>@bill.TotalShoes</p>
														</td>
														<td class="min-width">
															<p style="color:red;">@bill.Price.ToString("N0")đ</p>
														</td>
														<td class="min-width">
															<p>@bill.FullNameCus</p>
														</td>
														<td class="min-width">
															<p>@bill.PhoneNumber</p>
														</td>
														<td class="min-width">
															<p>@bill.CreateDate.ToString("HH:mm, dd/MM/yyyy")</p>
														</td>
														<td class="min-width">
															<p class="main-btn secondary-btn-light rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">@bill.PurchasePayMent</p>
														</td>
														<td class="min-width">
															@if (bill.Status == 0)
															{
																<span class="main-btn secondary-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Chờ xác nhận</span>
															}
															else
																	if (bill.Status == 1)
															{
																<span class="main-btn primary-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã xác nhận thông tin</span>
															}
															else
																	if (bill.Status == 2)
															{
																<span class="main-btn warning-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã bàn giao cho ĐVVC</span>
															}
															else
																	if (bill.Status == 3)
															{
																<span class="main-btn info-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã nhận được hàng</span>
															}
															else
																	if (bill.Status == 4)
															{
																<span class="main-btn danger-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Đã hủy đơn</span>
															}
															else
																	if (bill.Status == 6)
															{
																<span class="main-btn light-btn rounded-full btn-hover" style="font-size:12px; padding:5px 10px; margin:2px;">Hoàn trả</span>
															}
														</td>
														<td>
															<div class="action">
																<a href="@Url.Action("DetailsBill", "Bill", new {billID = bill.BillID, customerID  = bill.CustomerID})" class="text-danger">
																	<i class="lni lni-eye"></i>
																</a>
															</div>
														</td>
													</tr>
													stt++;
												}
											</tbody>
										</table>
										<nav aria-label="Page navigation example" style="margin-left:40%;">
											<ul class="pagination" id="pagination">
												<li class="page-item" data-page="prev">
													<a class="page-link" href="#" aria-label="Previous" style="color:black;">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
												<!-- Pagination items will be dynamically added here -->
												<li class="page-item" data-page="next">
													<a class="page-link" href="#" aria-label="Next" style="color:black;">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</ul>
										</nav>
									}
									else
									{
										<p>Không tìm thấy đơn hàng phù hợp.</p>
									}
									<script>
										document.addEventListener("DOMContentLoaded", function () {
											// Số bản ghi trên mỗi trang
											var recordsPerPage = 10;

											// Tổng số trang
											var totalRecords = @Model.Count();

											// Tính toán số lượng trang
											var totalPages = Math.ceil(totalRecords / recordsPerPage);

											// Ẩn tất cả các bản ghi
											$('#resultContainer tr').hide();

											// Hiển thị chỉ 10 sản phẩm ban đầu
											$('#resultContainer tr').slice(0, recordsPerPage).show();

											// Khởi tạo phân trang
											$('#pagination').twbsPagination({
												totalPages: totalPages,
												visiblePages: 1,
												prev: 'Previous',
												next: 'Next',
												onPageClick: function (event, page) {
													// Tính vị trí bắt đầu và kết thúc của bản ghi trên trang hiện tại
													var startIndex = (page - 1) * recordsPerPage;
													var endIndex = Math.min(startIndex + recordsPerPage - 1, totalRecords - 1);

													// Hiển thị hoặc ẩn các bản ghi tương ứng
													$('#resultContainer tr').hide().slice(startIndex, endIndex + 1).show();
												}
											});
										});
									</script>
									<!-- end table -->
								</div>
							</div>
							<!-- end card -->
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- ========== tables-wrapper end ========== -->
			</div>
			<!-- end container -->
		</section>
		<!-- ========== table components end ========== -->
		<!-- ========== footer start =========== -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 order-last order-md-first">
						<div class="copyright text-center text-md-start">
						</div>
					</div>
					<!-- end col-->
					<div class="col-md-6">
						<div class="terms d-flex justify-content-center justify-content-md-end">
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</footer>
		<!-- ========== footer end =========== -->
	</main>
	<script>
		var dateEl = document.getElementById('date');
		var timeEl = document.getElementById('time');
		document.getElementById('date-output').innerHTML = dateEl.type === 'date';
		document.getElementById('time-output').innerHTML = timeEl.type === 'time';
	</script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/Chart.min.js"></script>
	<script src="~/assets/js/dynamic-pie-chart.js"></script>
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/fullcalendar.js"></script>
	<script src="~/assets/js/jvectormap.min.js"></script>
	<script src="~/assets/js/world-merc.js"></script>
	<script src="~/assets/js/polyfill.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>
</html>
